/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

body, select, input, textarea {
  color: #444;
  font: 100%/1 sans-serif;
  *font-size: small; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

a, a:active, a:visited {
  color: #607890;
  text-decoration: none; }

a:hover {
  color: #036; }

/**
 * Primary styles
 *
 * Author: Divya Manian
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../assets/BebasNeue-webfont.eot");
  src: url("../assets/BebasNeue-webfont.eot?iefix") format("eot"), url("../assets/BebasNeue-webfont.woff") format("woff"), url("../assets/BebasNeue-webfont.ttf") format("truetype"), url("../assets/BebasNeue-webfont.svg#webfontfvFLBU0N") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background: silver; }

body {
  width: 80%;
  margin: 0 auto; }

#main > a,
#main > h1,
.demo h1 {
  font-family: 'BebasNeueRegular', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

#main > a,
#main > h1 {
  padding: 0.5em;
  -o-transition: color 1s, background 1s;
  -moz-transition: color 1s, background 1s;
  -webkit-transition: color 1s, background 1s;
  transition: color 1s, background 1s;
  display: block;
  font-size: 1.5em; }

#main > a[href="#video"] {
  background: #d97879;
  color: #efc7c8;
  text-shadow: 1px 1px 1px #671d1e; }
  #main > a[href="#video"]:hover {
    color: white;
    background: #8f282a; }

#main > a[href="#video"]:before {
  background: lightslategray; }

#main > a[href="#parser"] {
  background: #1b2c7e;
  color: #2d49d2;
  text-shadow: 1px 1px 1px black; }
  #main > a[href="#parser"]:hover {
    color: white;
    background: black; }

#main > a[href="#contenteditable"] {
  background: #4b0082;
  color: #8600e8;
  text-shadow: 1px 1px 1px black; }
  #main > a[href="#contenteditable"]:hover {
    color: white;
    background: black; }

#main > a[href="#audio"] {
  background: #a3a1b7;
  color: #dcdbe3;
  text-shadow: 1px 1px 1px #3e3d4f; }
  #main > a[href="#audio"]:hover {
    color: white;
    background: #55536c; }

#main > a[href="#forms"] {
  background: #f36691;
  color: #fac5d5;
  text-shadow: 1px 1px 1px #830a2f; }
  #main > a[href="#forms"]:hover {
    color: white;
    background: #b20e40; }

#main > a[href="#forms"]:before {
  background: #b73436;
  color: #d97879;
  text-shadow: 1px 1px 1px #180707; }
  #main > a[href="#forms"]:before:hover {
    color: white;
    background: #401213; }

#main > a[href="#canvas"] {
  background: #1b221b;
  color: #485b48;
  text-shadow: 1px 1px 1px black; }
  #main > a[href="#canvas"]:hover {
    color: #e8ede8;
    background: black; }

#main > a[href="#svg"] {
  background: #8c1519;
  color: #df282e;
  text-shadow: 1px 1px 1px black; }
  #main > a[href="#svg"]:hover {
    color: white;
    background: #070101; }

#main > a[href="#css"] {
  background: #311a34;
  color: #713c78;
  text-shadow: 1px 1px 1px black; }
  #main > a[href="#css"]:hover {
    color: #f6eff7;
    background: black; }

#main > a[href="#js"] {
  background: #f78e23;
  color: #fbc185;
  text-shadow: 1px 1px 1px #4b2703; }
  #main > a[href="#js"]:hover {
    color: white;
    background: #7c4105; }

#main > h1 {
  font-size: 3em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin: 0.25em 0;
  padding: 0;
  text-align: center; }
  #main > h1 a {
    color: inherit; }
  #main > h1 i {
    content: url("../img/opera.png");
    width: 0.8em;
    height: 0.9em;
    vertical-align: -5px;
    margin-left: 0.1em;
    display: inline-block; }

.demo {
  z-index: -2;
  position: relative;
  margin: 2em 0; }

.zoomedin .demo {
  z-index: 1; }

.demo .wrapper,
.demo > a,
.demo .wrapper article {
  opacity: 0;
  -webkit-transition: 1.5s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: 1.5s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: 1.5s cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.demo .wrapper {
  background: #fff;
  box-shadow: 0 0 1em #666;
  padding: 2em 3em;
  line-height: 1.5;
  min-height: 40em; }

.zoomedin .demo .wrapper,
.zoomedin .demo > a,
.demo .wrapper div.infobar,
.demo .wrapper > article:target {
  opacity: 1; }

.demo .infobar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  height: 2em;
  background: maroon;
  background: -o-linear-gradient(indianred, #cc0000);
  background: -webkit-linear-gradient(indianred, #cc0000);
  background: -moz-linear-gradient(indianred, #cc0000);
  background: linear-gradient(indianred, #cc0000);
  border-top: 1px solid maroon;
  border-bottom: 1px solid #444;
  color: #fff;
  text-shadow: 1px 1px 1px #444;
  line-height: 2em;
  padding: 0 1em; }

.demo .infobar > a {
  float: right; }

.demo .infobar a {
  color: inherit;
  font-size: 0.8em; }

.demo h1 {
  font-size: 3em;
  text-shadow: 1px 1px 1px #444, 3px 1px 1px indianred;
  letter-spacing: 1px; }

.demo .wrapper article {
  top: 0;
  padding-top: 3.5em;
  left: 1.5em;
  right: 0;
  bottom: 0;
  position: absolute; }

.browsersupport {
  display: inline-block;
  width: 50%;
  height: 2em; }

.browsersupport a {
  display: none; }

.browsersupport a.current {
  text-indent: 0;
  background: olivedrab;
  border-radius: 4px;
  box-shadow: inset 0 0 4px maroon;
  text-shadow: 1px 1px 1px #000, 0 0 2px yellow;
  text-align: center;
  display: inline-block;
  margin: 0.25em 0;
  padding: 0 0.75em;
  text-transform: uppercase;
  line-height: 1.8em; }

#parser h1 {
  color: #e4192d; }

#parser > div {
  width: 48%;
  margin-right: 2%;
  float: left; }

#parser > div:last-of-type {
  margin-right: 0; }

@media only screen and (min-width: 800px) {
  html {
    position: fixed;
    width: 100%;
    height: 100%; }

  body {
    width: 780px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    height: 50%; }

  #container {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    height: 700px;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -o-transition: -o-transform 1s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: -moz-transform 1s cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  #main {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px; }

  .demo {
    position: fixed;
    top: 0;
    left: 50%;
    width: 800px;
    height: 100%;
    margin-left: -390px; }

  .zoomedin #container {
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -o-transform: scale(40);
    transform: 480px 440px;
    -webkit-transform-origin: 480px 440px;
    -o-transform-origin: 480px 440px;
    -moz-transform-origin: 480px 440px;
    transform-origin: 480px 440px; }

  #main > a,
  #main > h1 {
    position: absolute;
    padding: 0.1em 0.2em 0; }

  #main > a[href="#video"] {
    font-size: 4em;
    top: 128px;
    right: 344px; }

  #main > a[href="#video"]:before {
    bottom: 1.2em;
    left: 0.1em; }

  #main > a[href="#parser"] {
    font-size: 6em;
    top: 278px;
    right: 230px; }

  #main > a[href="#contenteditable"] {
    font-size: 3em;
    top: 533px;
    right: 445px; }

  #main > a[href="#audio"] {
    font-size: 2em;
    top: 195px;
    right: 265px; }

  #main > a[href="#forms"] {
    font-size: 4em;
    top: 391px;
    right: 438px; }

  #main > a[href="#forms"]:before {
    right: 0.1em;
    bottom: -2.1em; }

  #main > a[href="#canvas"] {
    font-size: 4em;
    top: 391px;
    right: 445px;
    max-width: 248px;
    text-align: right; }

  #main > a[href="#svg"] {
    font-size: 4em;
    top: 533px;
    right: 360px;
    max-width: 3em; }

  #main > a[href="#css"] {
    font-size: 2em;
    top: 192px;
    right: 165px; }

  #main > a[href="#js"] {
    font-size: 3em;
    right: 223px;
    top: 28px; }

  #main > h1 {
    font-size: 5em;
    top: 391px;
    left: 560px;
    width: 4em;
    text-indent: -9px;
    text-align: left;
    margin: 0;
    padding: 0; }
    #main > h1 b:first-of-type {
      padding-left: 0.5em; }

  #main > a[href="#video"],
  #main > a[href="#audio"],
  #main > a[href="#forms"],
  #main > a[href="#js"],
  #main > a[href="#css"],
  #main > a[href="#svg"] {
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -o-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    text-align: right; }

  #main > a[href="#video"]:before,
  #main > a[href="#forms"]:before {
    width: 1em;
    height: 1em;
    border-radius: 20em;
    content: "";
    display: block;
    position: absolute; }

  #main > a[href="#forms"]:before {
    width: 2em;
    height: 2em; }

  .demo {
    margin-top: 0;
    margin-bottom: 0; }

  .demo .wrapper {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 30%; }

  .demo .wrapper:before {
    content: url("../img/opera-logo.png");
    position: absolute;
    top: -54px;
    left: 2em;
    z-index: -1; }

  .browsersupport {
    background: url("../img/browser-logos-blur.png") 5em center no-repeat; }
    .browsersupport a {
      display: inline-block; } }
/**
 * Non-semantic helper classes: please define your styles before this section.
 */
/* For image replacement */
.ir, .browsersupport > a {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
  zoom: 1; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
