body {
	background:#000;
    margin:0;
    padding:0;
}
canvas {
    xborder:solid 1px #333;
    xheight:200px;
    xwidth:300px;
    xposition:absolute;
    cursor:crosshair;
}
#canvas1 {
    display:none;
    xopacity:0.5;
}
#canvas2 {
    display:block;
    xopacity:0.5;
}
video {
    display:none;
}
