@import url(reset.css);
@font-face {
	font-family:Lobster;
	src:url(../fonts/lobster.eot);
	src:local(Lobster),
		url(../fonts/lobster.eot?iefix) format('embedded-opentype'),
		url(../fonts/lobster.woff) format('woff'),
		url(../fonts/lobster.ttf) format('truetype'),
		url(../fonts/lobster.svg#Lobster) format('svg');
	}
BODY {
	overflow:hidden;
	background:#000;
	}

/* Deck
---------------------------------------- */
.deck {
	position:absolute;
	z-index:2;
	overflow:hidden;
	width:100%;
	height:70px;
	background:#482813 url(../images/wood.jpg) 50% 0 repeat-x;
	-webkit-box-shadow:0 0 50px #000, 0 0 20px #000, 0 0 10px #000;
	-moz-box-shadow:0 0 50px #000, 0 0 20px #000, 0 0 10px #000;
	box-shadow:
		0 0 50px #000,
		0 0 20px #000,
		0 0 10px #000,
		0 0 0 1px rgba(255, 255, 255, 0.1) inset;
	}
	.deck:after {
		position:absolute;
		top:15px;
		right:5px;
		width:150px;
		height:57px;
		background:url(../images/dial.png);
		content:'';
		}
	.deck H2 {
		padding:18px 0 0;
		color:#1E1008;
		white-space:nowrap;
		text-align:center;
		text-shadow:
			0 -1px 1px #000,
			0 1px 1px rgba(255, 255, 255, 0.2),
			0 0 20px rgba(194, 162, 140, 0.3);
		font:40px/1 Lobster, sans-serif;
		}

/* Keyboard
---------------------------------------- */
.keyboard {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	}
	.key {
		position:absolute;
		top:-2px;
		bottom:15px;
		overflow:hidden;
		}

/* Keys */
#key-1-0 { left:1%;  }
#key-1-5 { left:10%; }
#key-2-0 { left:15%; }
#key-2-5 { left:26%; }
#key-3-0 { left:29%; }
#key-4-0 { left:43%; }
#key-4-5 { left:52%; }
#key-5-0 { left:57%; }
#key-5-5 { left:67%; }
#key-6-0 { left:71%; }
#key-6-5 { left:82%; }
#key-7-0 { left:85%; }

/* White */
.key.white {
	width:14%;
	}
	.key.white:before {
		position:absolute;
		top:0;
		right:4px;
		bottom:4px;
		left:4px;
		border:1px solid #929188;
		-webkit-border-radius:0 0 10px 10px;
		-moz-border-radius:0 0 10px 10px;
		border-radius:0 0 10px 10px;
		background:#D1CFC0;
		background-image:-webkit-linear-gradient(top, #D7D5C5, #CBC8BB);
		background-image:-moz-linear-gradient(top, #D7D5C5, #CBC8BB);
		background-image:-ms-linear-gradient(top, #D7D5C5, #CBC8BB);
		background-image:-o-linear-gradient(top, #D7D5C5, #CBC8BB);
		background-image:linear-gradient(top, #D7D5C5, #CBC8BB);
		content:'';
		}
.key.white.pressed {
	bottom:5px;
	}
	.key.white.pressed:before {
		border:1px solid #6C6B63;
		background-image:-webkit-linear-gradient(top, #D0CDBF, #AAA89C);
		background-image:-moz-linear-gradient(top, #D0CDBF, #AAA89C);
		background-image:-ms-linear-gradient(top, #D0CDBF, #AAA89C);
		background-image:-o-linear-gradient(top, #D0CDBF, #AAA89C);
		background-image:linear-gradient(top, #D0CDBF, #AAA89C);
		-webkit-box-shadow:0 10px 15px rgba(0, 0, 0, 0.6) inset;
		-moz-box-shadow:0 10px 15px rgba(0, 0, 0, 0.6) inset;
		box-shadow:0 10px 15px rgba(0, 0, 0, 0.6) inset;
		}

/* Black */
.key.black {
	z-index:1;
	width:8%;
	height:65%;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
	background:#26272b;
	-webkit-box-shadow:0 0 0 2px #000, 0 0 0 4px #111, 0 0 0 8px #000;
	-moz-box-shadow:0 0 0 2px #000, 0 0 0 4px #111, 0 0 0 8px #000;
	box-shadow:
		0 0 0 2px #000,
		0 0 0 4px #111,
		0 0 0 8px #000;
	}
	.key.black:before {
		position:absolute;
		top:10px;
		right:0;
		bottom:50px;
		left:0;
		-webkit-border-radius:5px 5px 10px 10px;
		-moz-border-radius:5px 5px 10px 10px;
		border-radius:5px 5px 10px 10px;
		background:#3D3E41;
		background-image:-webkit-linear-gradient(bottom, #54555C, #3F4042 30%, #3F4042 90%, #333);
		background-image:-moz-linear-gradient(bottom, #54555C, #3F4042 30%, #3F4042 90%, #333);
		background-image:-ms-linear-gradient(bottom, #54555C, #3F4042 30%, #3F4042 90%, #333);
		background-image:-o-linear-gradient(bottom, #54555C, #3F4042 30%, #3F4042 90%, #333);
		background-image:linear-gradient(bottom, #54555C, #3F4042 30%, #3F4042 90%, #333);
		-webkit-box-shadow:0 0 0 5px #000, 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
		-moz-box-shadow:0 0 0 5px #000, 0 0 0 1px rgba(255, 255, 255, 0.1) inset;
		box-shadow:
			0 0 0 5px #000,
			0 0 0 1px rgba(255, 255, 255, 0.1) inset;
		content:'';
		}
	.key.black:after {
		position:absolute;
		right:0;
		bottom:0;
		left:0;
		height:45px;
		-webkit-border-radius:10px 10px 5px 5px / 40px 40px 5px 5px;
		-moz-border-radius:10px 10px 5px 5px / 40px 40px 5px 5px;
		border-radius:10px 10px 5px 5px / 40px 40px 5px 5px;
		background:#2C2D31;
		background-image:-webkit-linear-gradient(top, #313237, #1A1B1C 70%, #1A1B1C 80%, #38393A);
		background-image:-moz-linear-gradient(top, #313237, #1A1B1C 70%, #1A1B1C 80%, #38393A);
		background-image:-ms-linear-gradient(top, #313237, #1A1B1C 70%, #1A1B1C 80%, #38393A);
		background-image:-o-linear-gradient(top, #313237, #1A1B1C 70%, #1A1B1C 80%, #38393A);
		background-image:linear-gradient(top, #313237, #1A1B1C 70%, #1A1B1C 80%, #38393A);
		-webkit-box-shadow:0 0 0 5px #000;
		-moz-box-shadow:0 0 0 5px #000;
		box-shadow:0 0 0 5px #000;
		content:'';
		}
.key.black.pressed {
	background:#19191c;
	}
	.key.black.pressed:before {
		top:13px;
		bottom:25px;
		background-image:-webkit-linear-gradient(bottom, #404144, #303133 20%, #303133);
		background-image:-moz-linear-gradient(bottom, #404144, #303133 20%, #303133);
		background-image:-ms-linear-gradient(bottom, #404144, #303133 20%, #303133);
		background-image:-o-linear-gradient(bottom, #404144, #303133 20%, #303133);
		background-image:linear-gradient(bottom, #404144, #303133 20%, #303133);
		}
	.key.black.pressed:after {
		bottom:-25px;
		background-image:-webkit-linear-gradient(top, #313237, #1A1B1C 30%, #000 50%, #000);
		background-image:-moz-linear-gradient(top, #313237, #1A1B1C 30%, #000 50%, #000);
		background-image:-ms-linear-gradient(top, #313237, #1A1B1C 30%, #000 50%, #000);
		background-image:-o-linear-gradient(top, #313237, #1A1B1C 30%, #000 50%, #000);
		background-image:linear-gradient(top, #313237, #1A1B1C 30%, #000 50%, #000);
		}