/* Reset */
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html {
    height: 100%;
}
body {
    font-family:georgia, 'Times New Roman', times, serif;
    height:100%;
}
a {
    color:#33c;
}
a:hover, a:focus {
    text-decoration:none;
}

#container {
    background:#fcc;
    display:table;
    height:100%;
    width:100%;
    -webkit-animation: container 60s linear infinite;
    -moz-animation: container 60s linear infinite;
    -o-animation: container 60s linear infinite;
    animation: container 60s linear infinite;
}
@-webkit-keyframes container {
    25% {
        background:#ffc;
    }
    50% {
        background:#cfc;
    }
    75% {
        background:#ccf;
    }
    100% {
        background:#fcc;
    }
}
@-moz-keyframes container {
    25% {
        background:#ffc;
    }
    50% {
        background:#cfc;
    }
    75% {
        background:#ccf;
    }
    100% {
        background:#fcc;
    }
}
@-o-keyframes container {
    25% {
        background:#ffc;
    }
    50% {
        background:#cfc;
    }
    75% {
        background:#ccf;
    }
    100% {
        background:#fcc;
    }
}
@keyframes container {
    25% {
        background:#ffc;
    }
    50% {
        background:#cfc;
    }
    75% {
        background:#ccf;
    }
    100% {
        background:#fcc;
    }
}

header {
    text-align:right;
}
#frm_search {
    display:inline;
}
#btn_search {
    margin-right:0.5em;
}
#txt_search, #btn_search {
    margin-top:0.5em;
    opacity:0.5;
    padding:0.5em;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s;
}
#txt_search:focus, #txt_search:hover, #btn_search:focus, #btn_search:hover, #btn_resize:focus, #btn_resize:hover {
    opacity:1;
}
#btn_resize {
    cursor:pointer;
    float:right;
    height:2em;
    margin:0.5em 0.5em 0 0;
    opacity:0.5;
    width:2em;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    transition-duration:0.3s;
}

#content {
    display:table-row;
    height:100%;
    text-align:center;
}
#tweet {
    color:#333;
    display:table-cell;
    font-size:3em;
    line-height:1.2;
    overflow:hidden;
    padding:0 8%;
    vertical-align:middle;
}
#tweet span, #tweet img {
    position:relative;
    -webkit-transform:rotate(-360deg);
    -moz-transform:rotate(-360deg);
    -o-transform:rotate(-360deg);
    transform:rotate(-360deg);
}
.animate #tweet span, .animate #tweet img {
    -webkit-animation:char 10s infinite;
    -moz-animation:char 10s infinite;
    -o-animation:char 10s infinite;
    animation:char 10s infinite;
}
.animate #tweet .char9 {
    -webkit-animation-timing-function:cubic-bezier(0.25, 0, 0.25, 1);
    -moz-animation-timing-function:cubic-bezier(0.25, 0, 0.25, 1);
    -o-animation-timing-function:cubic-bezier(0.25, 0, 0.25, 1);
    animation-timing-function:cubic-bezier(0.25, 0, 0.25, 1);
}
.animate #tweet .char1 {
    -webkit-animation-timing-function:cubic-bezier(0.30, 0, 0.30, 1);
    -moz-animation-timing-function:cubic-bezier(0.30, 0, 0.30, 1);
    -o-animation-timing-function:cubic-bezier(0.30, 0, 0.30, 1);
    animation-timing-function:cubic-bezier(0.30, 0, 0.30, 1);
}
.animate #tweet .char7 {
    -webkit-animation-timing-function:cubic-bezier(0.35, 0, 0.35, 1);
    -moz-animation-timing-function:cubic-bezier(0.35, 0, 0.35, 1);
    -o-animation-timing-function:cubic-bezier(0.35, 0, 0.35, 1);
    animation-timing-function:cubic-bezier(0.35, 0, 0.35, 1);
}
.animate #tweet .char3 {
    -webkit-animation-timing-function:cubic-bezier(0.40, 0, 0.40, 1);
    -moz-animation-timing-function:cubic-bezier(0.40, 0, 0.40, 1);
    -o-animation-timing-function:cubic-bezier(0.40, 0, 0.40, 1);
    animation-timing-function:cubic-bezier(0.40, 0, 0.40, 1);
}
.animate #tweet .char5 {
    -webkit-animation-timing-function:cubic-bezier(0.45, 0, 0.45, 1);
    -moz-animation-timing-function:cubic-bezier(0.45, 0, 0.45, 1);
    -o-animation-timing-function:cubic-bezier(0.45, 0, 0.45, 1);
    animation-timing-function:cubic-bezier(0.45, 0, 0.45, 1);
}
.animate #tweet .char4 {
    -webkit-animation-timing-function:cubic-bezier(0.50, 0, 0.50, 1);
    -moz-animation-timing-function:cubic-bezier(0.50, 0, 0.50, 1);
    -o-animation-timing-function:cubic-bezier(0.50, 0, 0.50, 1);
    animation-timing-function:cubic-bezier(0.50, 0, 0.50, 1);
}
.animate #tweet .char6 {
    -webkit-animation-timing-function:cubic-bezier(0.55, 0, 0.55, 1);
    -moz-animation-timing-function:cubic-bezier(0.55, 0, 0.55, 1);
    -o-animation-timing-function:cubic-bezier(0.55, 0, 0.55, 1);
    animation-timing-function:cubic-bezier(0.55, 0, 0.55, 1);
}
.animate #tweet .char2 {
    -webkit-animation-timing-function:cubic-bezier(0.60, 0, 0.60, 1);
    -moz-animation-timing-function:cubic-bezier(0.60, 0, 0.60, 1);
    -o-animation-timing-function:cubic-bezier(0.60, 0, 0.60, 1);
    animation-timing-function:cubic-bezier(0.60, 0, 0.60, 1);
}
.animate #tweet .char8 {
    -webkit-animation-timing-function:cubic-bezier(0.65, 0, 0.65, 1);
    -moz-animation-timing-function:cubic-bezier(0.65, 0, 0.65, 1);
    -o-animation-timing-function:cubic-bezier(0.65, 0, 0.65, 1);
    animation-timing-function:cubic-bezier(0.65, 0, 0.65, 1);
}
.animate #tweet .char0 {
    -webkit-animation-timing-function:cubic-bezier(0.70, 0, 0.70, 1);
    -moz-animation-timing-function:cubic-bezier(0.70, 0, 0.70, 1);
    -o-animation-timing-function:cubic-bezier(0.70, 0, 0.70, 1);
    animation-timing-function:cubic-bezier(0.70, 0, 0.70, 1);
}
#user {
    font-family:'Helvetica Neue', 'Free Sans', 'Deja Vu Sans', Arial, Helvetica, sans-serif;
    font-size:0.7em;
    margin:1em 0 0.5em 0;
}

@-webkit-keyframes char {
    0% {
        left:-110%;
        -webkit-transform:rotate(-360deg);
    }
    25% {
        left:0;
        -webkit-transform:rotate(0);
    }
    80% {
        left:0;
        -webkit-transform:rotate(0);
    }
    100% {
        left:110%;
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes char {
    0% {
        left:-110%;
        -moz-transform:rotate(-360deg);
    }
    25% {
        left:0;
        -moz-transform:rotate(0);
    }
    80% {
        left:0;
        -moz-transform:rotate(0);
    }
    100% {
        left:110%;
        -moz-transform:rotate(360deg);
    }
}
@-o-keyframes char {
    0% {
        left:-110%;
        -o-transform:rotate(-360deg);
    }
    25% {
        left:0;
        -o-transform:rotate(0);
    }
    80% {
        left:0;
        -o-transform:rotate(0);
    }
    100% {
        left:110%;
        -o-transform:rotate(360deg);
    }
}
@keyframes char {
    0% {
        left:-110%;
        transform:rotate(-360deg);
    }
    25% {
        left:0;
        transform:rotate(0);
    }
    80% {
        left:0;
        transform:rotate(0);
    }
    100% {
        left:110%;
        transform:rotate(360deg);
    }
}

@media screen and (max-width:60em) {
    #tweet {
        font-size:2em;
    }
}
@media screen and (max-width:30em) {
    #tweet {
        font-size:1.5em;
    }
}
