* {    
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    background:#000;
    color:#fff;
    font-family:'Helvetica Neue', 'Free Sans', 'Deja Vu Sans', Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}
a {
    color:#99f;
}
video, #canvas1 {
    display:none;
}
