/* typeface: Adore 64 by pixelite@lycos.de http://www.freakyfonts.de/ */
@font-face {
    font-family: "Adore64";
    src: url(../Adore64.ttf);
}
/* Font: Adore 64 from http://www.freakyfonts.de/fonts.html */
html, body { margin: 0; padding: 0; }
body { font: 10px Adore64, sans-serif; background-color: #212121; color: #fff; }
#container { width: 360px; margin: 0 auto 0 auto; padding-top: 24px; position: relative; } 
#container h1,h2 { font-size: 20px; margin: 0; padding: 0; text-transform: uppercase; color: #f00; }
#container h2 { margin-bottom: 8px; }
#container p { margin: 0; padding: 0; }
#container small { font-size: 8px; }
#container a {  color: #f00; }
#container canvas { display: block; margin: 16px 0; border-bottom: 2px #555 solid; cursor: none; }
#container dt { float: left; }
#autopilot { font-size: 16px; text-transform: uppercase; position: absolute; top: 200px; width:360px; text-align:center; background-color: rgba(0,0,0,0.5); }
#container .off { display: none; }

@media (max-height: 500px) {
	h1,h2 { font-size: 12px; }
	#container { font-size: 6px; margin: 0 auto; }
	canvas { margin: 2px 0; }
}

@-o-viewport {
	width: 372px auto;
	orientation: portrait;
	resolution: device;
}

@-ms-viewport {
	width: 372px auto;
	orientation: portrait;
	resolution: device;
}
