@media screen and (min-width: 768px){

	#photostack{
		top:0;
		position:relative;
		margin: 3em auto 0 auto;

	}
	section{
		position: absolute;
		background: #fff;
		margin: 10px auto;
		width: 250px;
	}
	section.vert{width: 188px;}
	section p{border-width: 8px;}
	section:nth-child(odd){
		     -o-transform: rotate(-1deg);
	   	   -moz-transform: rotate(-1deg);
		-webkit-transform: rotate(-1deg);
		 -khtml-transform: rotate(-1deg);
		    -ms-transform: rotate(-1deg);
		        transform: rotate(-1deg);
	}
	section:nth-child(even){
		     -o-transform: rotate(5deg);
	   	   -moz-transform: rotate(5deg);
		-webkit-transform: rotate(5deg);
		 -khtml-transform: rotate(5deg);
		    -ms-transform: rotate(5deg);
		        transform: rotate(5deg);
	}
	section:first-child{
		left: 0;
		top: 7em;
	}
	section:nth-child(2){
		left: 10%;
		top: 	0;
	}
	section:nth-child(3){
		left: 4%;
		top: 1em;
		top: 1rem;
	}
	section:nth-child(4){
		left: 35%;
		top:    0;
	}
	section:nth-child(5){
		left: 25%;
		top:  2em;
		top: 2rem;
	}
	section:nth-child(6){
		left: 68%;
		top:    0;
	}
	section:nth-child(7){
		left: 60%;
		top:  3em;
		top:  3rem;
	}
	section:nth-child(8){
		left: 75%;
		top:  6em;
		top:  6rem;
	}
	section:nth-child(9){
		left: 70%;
		top: 6.2em;
		top: 6.2rem;
	}
	section:nth-child(10){
		left: 40%;
		top: 7.2em;
		top: 7.2rem;
	}

	section:hover{
	     -o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
	          z-index: 9998;
	}

	section.leadPhoto{
		left: 49%;
		top: 8em;
		top: 7.5rem;
	     -o-transform: scale(1.725);
	-webkit-transform: scale(1.725);
       -moz-transform: scale(1.725);
        -ms-transform: scale(1.725);
            transform: scale(1.725);
	}
	footer{ position:absolute;}
}