@font-face {
    font-family: 'JosefinSlabBold';
    src: url('../fonts/josefin_slab/JosefinSlab-Bold-webfont.eot');
    src: url('../fonts/josefin_slab/JosefinSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin_slab/JosefinSlab-Bold-webfont.woff') format('woff'),
         url('../fonts/josefin_slab/JosefinSlab-Bold-webfont.ttf') format('truetype'),
         url('../fonts/josefin_slab/JosefinSlab-Bold-webfont.svg#JosefinSlabBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSerifRoman';
    src: url('../fonts/bitstreamvera/VeraSerif-webfont.eot');
    src: url('../fonts/bitstreamvera/VeraSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitstreamvera/VeraSerif-webfont.woff') format('woff'),
         url('../fonts/bitstreamvera/VeraSerif-webfont.ttf') format('truetype'),
         url('../fonts/bitstreamvera/VeraSerif-webfont.svg#BitstreamVeraSerifRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{margin: 0; padding: 0}

body *{margin: 0; padding: 0}

html{height: 100%;}

body{
	height: 100%;
	font: 80% / 1 'BitstreamVeraSerifRoman',Georgia,'Droid Serif',serif;
	background: url(../images/squidfingers_dot_com_pattern_038.gif);
	position: relative;
	overflow-x: hidden;
}

a:link{color: #c60;}
a:visited{color: #c90;}
a:hover, a:active{color: #c30;}

header{display:block;}

#loader{
	position:absolute;
	background: url(../images/ajax-loader.gif) center no-repeat;
	width: 100%;
	height: 100%;
}

h1{
	font: normal 4em / 1 'JosefinSlabBold';
	padding: .5em 0 0 .23em;
	padding: 1rem 1rem 0 1rem;
	margin:0;
	letter-spacing: -.05em;
}
header > p{
	padding: 0 1em;
	padding: 0 1rem;
}

#container{
	margin: 0 2em;
	margin: 0 1.5rem;
	background: rgba(255,255,255,.65);
	height: 45em;
	height: 40rem;
	position: relative;
	z-index: 0;
    top: 0;
}

#container.loading{top: -300em;}

#photostack{
	top:0;
	position:relative;
	width:70em;
	width:63rem;
}

/*
Using long notation because we are applying the same
duration and timing function to two different transitions.

Could also use *-transition: [property] [duration] [function].

*/
section, .leadPhoto .close, #container{
         -o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
       -moz-transition-duration: 500ms;
        -ms-transition-duration: 500ms;
            transition-duration: 500ms;

         -o-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
            transition-timing-function: linear;
}

#container{
         -o-transition-duration: 1s;
	-webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
            transition-duration: 1s;
}
section{
	border-width: 1px;
	border-color: rgba(0,0,0,.2);
	border-top-color: #e6e6e6;
	border-left-color: #e6e6e6;
	border-style: outset;

	background: #fff;
	cursor: pointer;
	z-index:auto;
	display:block;

	     -o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;

	     -o-transition-property: -o-transform, left, top;
	-webkit-transition-property: -webkit-transform, left, top;
       -moz-transition-property: -moz-transform, left, top;
        -ms-transition-property: -ms-transform, left, top;
            transition-property: transform, left, top;
}

section p{line-height: 1.3; border: 10px solid #fff;}

section img{
	display: block;
	width:   100%;
	margin:  0 0 10px 0;
}

section.leadPhoto{
	z-index: 9999;
	cursor: default;

	     -o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.close{
	font-family: sans-serif;
	background: transparent url(../images/close.png) 2px 2px no-repeat;
	width:40px;
	height:40px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0px;
	right: -10px;
	line-height: .9;
	border-radius: 20px;
	opacity: 0;
	font-size: 8pt;
	padding: 4px 2px 2px 2px;
	text-indent: -9999px;
	cursor: pointer
}

.leadPhoto .close{
    opacity: 1;

	     -o-transition-property: opacity;
	-webkit-transition-property: opacity;
       -moz-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
}

#overlay{
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 9997;
	left: -2000em;
	top:  -2000em;
	width:  4000em;
	height: 4000em;

	/* using rems where supported */
	left: -2000rem;
	top:  -2000rem;
	width:  4000rem;
	height: 4000rem
}
#overlay:hover{cursor: pointer;}

.hide{display: none;}

footer{
	font-size: .7rem;
	color: #666;
	display: block;
	margin: 0;
	position: relative;
	bottom:0;
}
footer p{
	margin: 0 20px 0 20px;
	padding-bottom: 1em;
	line-height: 1.5
}
footer img{
	float: left;
	vertical-align: text-bottom;
	display: block;
	margin-right: .5em;
}

