@import url(fonts.css);

body {
	background:#5A5C61 url(../images/linen.png) !important;
}

/* Panel
---------------------------------------- */
.sd-panel {
	height:80px;
	box-shadow:0 0 0 1px rgba(255, 255, 255, 0.2);
	background:url(../images/texture.png);
	color:#FFF;
	font:12px Tahoma, sans-serif;
	}
	.sd-logo {
		position:absolute;
		top:0;
		left:0;
		margin:0;
		padding:15px 0 0 100px;
		height:65px;
		background:url(../images/cubes-panel.png) no-repeat;
		font:40px/1 'Bebas Neue', sans-serif;
		}
		.sd-logo-link {
			color:#FFF;
			text-decoration:none;
			}
			.sd-logo-link:before {
				position:absolute;
				top:0;
				left:0;
				width:80px;
				height:80px;
				content:'';
				}
	.sd-title {
		position:absolute;
		bottom:12px;
		left:100px;
		margin:0;
		padding:0;
		font-weight:normal;
		font-size:12px;
		}

/* Browsers */
.sd-browsers {
	position:absolute;
	top:13px;
	right:13px;
	margin:0;
	padding:0;
	list-style:none;
	}
	.sd-browser {
		float:left;
		margin-left:5px;
		width:18px;
		height:18px;
		background:url(../images/browsers.png) no-repeat;
		text-indent:-9999px;
		}

/* Vendors */
.sd-browser-chrome {
	background-position:0 0;
	}
.sd-browser-chrome.sd-browser-supported {
	background-position:0 -18px;
	}
.sd-browser-firefox {
	background-position:-18px 0;
	}
.sd-browser-firefox.sd-browser-supported {
	background-position:-18px -18px;
	}
.sd-browser-ie {
	background-position:-36px 0;
	}
.sd-browser-ie.sd-browser-supported {
	background-position:-36px -18px;
	}
.sd-browser-opera {
	background-position:-54px 0;
	}
.sd-browser-opera.sd-browser-supported {
	background-position:-54px -18px;
	}
.sd-browser-safari {
	background-position:-72px 0;
	}
.sd-browser-safari.sd-browser-supported {
	background-position:-72px -18px;
	}
