@import url(fonts.css);

body {
	background:#5A5C61 url(../images/linen.png) !important;
}

html, body { margin: 0; padding: 0; }

/* Panel
---------------------------------------- */
.sd-panel {
  position: relative;
	height:80px;
	box-shadow:0 0 0 1px rgba(255, 255, 255, 0.2);
	background:url(../images/texture.png);
	color:#FFF;
	font:12px Tahoma, sans-serif;
	}
	.sd-logo {
		position:absolute;
		top:0;
		left:0;
		margin:0;
		padding:15px 0 0 100px;
		height:65px;
		background:url(../images/cubes-panel.png) no-repeat;
		font:40px/1 'Bebas Neue', sans-serif;
		}
		.sd-logo-link {
			color:#FFF;
			text-decoration:none;
			}
			.sd-logo-link:before {
				position:absolute;
				top:0;
				left:0;
				width:80px;
				height:80px;
				content:'';
				}

	.sd-title {
		position:absolute;
		bottom:12px;
		left:100px;
		margin:0;
		padding:0;
		font-weight:normal;
		font-size:12px;
		}

/* Browsers */
#feature-support {
	margin:0 0.5em;
	padding: 30px 0.5em 30px 2em;
  float: right;
  width: 25em;
  position: relative;
  text-align: left;
  }

.supports::before,
.nosupport::before {
  font-weight: bold;
  content: '•';
  color: green;
  font-size: 2em;
  line-height: 80px;
  position: absolute;
  left: 0; top: 0;
 }


.nosupport::before {
  color: red;
}
