body {overflow-x: hidden;}
.sd-panel {z-index:9;}


div.transition {
  border-bottom-left-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
  border-width: 50px !important;
  -o-transition-property: all;
  -o-transition-duration: 2s;
  -ms-transition-property: all;
  -ms-transition-duration: 2s;
  -moz-transition-property: all;
  -moz-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  transition-property: all;
  transition-duration: 2s;
}

.frame {
  padding: 10px 30px;
  background-color: #fff;
  -o-border-image: url(../images/frame1.png);
  -moz-border-image: url(../images/frame1.png) 100 stretch;
  -webkit-border-image: url(../images/frame1.png) 100 stretch;
  -o-border-image: url(../images/frame1.png) 100 stretch;
  border-image: url(../images/frame1.png) 100 stretch;
  border-width:60px;
  display: table-cell;
  vertical-align: middle;
  position:absolute;
  top:50%;
  left: 500%;
  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  -o-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.current {
  -o-transition-property:left;-o-transition-duration:0.5s;-ms-transition-property:left;-ms-transition-duration:0.5s;-moz-transition-property:left;-moz-transition-duration:0.5s;-webkit-transition-property:left;-webkit-transition-duration:0.5s;transition-property:left;transition-duration:0.5s;
  left:50%;
}

.prev {
  -o-transition-property:left;-o-transition-duration:0.5s;-ms-transition-property:left;-ms-transition-duration:0.5s;-moz-transition-property:left;-moz-transition-duration:0.5s;-webkit-transition-property:left;-webkit-transition-duration:0.5s;transition-property:left;transition-duration:0.5s;
  left:0%;
}

.prev-far {
  -o-transition-property:left;-o-transition-duration:0.5s;-ms-transition-property:left;-ms-transition-duration:0.5s;-moz-transition-property:left;-moz-transition-duration:0.5s;-webkit-transition-property:left;-webkit-transition-duration:0.5s;transition-property:left;transition-duration:0.5s;
  left:-50%;
}

.next {
  -o-transition-property:left;-o-transition-duration:0.5s;-ms-transition-property:left;-ms-transition-duration:0.5s;-moz-transition-property:left;-moz-transition-duration:0.5s;-webkit-transition-property:left;-webkit-transition-duration:0.5s;transition-property:left;transition-duration:0.5s;
  left: 100%;
}

.next-far {
  left: 150%;
}

.frame div {
  margin: 10% auto;
}