body {
  width: 95%;
}

div {
  margin: 0 auto;
}

div.transition {
  border-bottom-left-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
  border-width: 50px !important;
  -o-transition-property: all;
  -o-transition-duration: 2s;
  -ms-transition-property: all;
  -ms-transition-duration: 2s;
  -moz-transition-property: all;
  -moz-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  transition-property: all;
  transition-duration: 2s;
}

#frame {
  padding: 10px 30px;
  background-color: #fff;
  -o-border-image: url(frame1.png);
  -moz-border-image: url(frame1.png) 100 stretch;
  -webkit-border-image: url(frame1.png) 100 stretch;
  -o-border-image: url(frame1.png) 100 stretch;
  border-image: url(frame1.png) 100 stretch;
  border-width:60px;
  display: table-cell;
  vertical-align: middle;
}

#frame div {
  margin: 10% auto;
}