.hidefromsmall{
    display:block;
}

#getcode{display:inline;}

form #advanced p{
    float:left;
    width: 24%;
}

#setborderstyle p:nth-child(4){
    width: 25%;
    white-space:nowrap;
    border-right: 15px solid rgba(0,0,0,0);
}

form #basic p{
    float:left;
    width: 32%;
}

form #advanced p{
    width: 24%;
}

form #advanced #setbgimg p.credit{
    width:100%;
}

form #advanced #setbgimg p{
    width: 32%;
}

form #basic p:nth-child(2),
form #basic p:nth-child(3){
    border-left: 1% solid rgba(0,0,0,.7);
}

fieldset fieldset{
    width: auto;
}

#main{
    width: 17em;
}

#main > video, #main > img, #main > div{
    width: 15em;
	height: 15em;
}

#overlay{
	position:fixed;
	z-index:9999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.5);
	top:0;
	left:0;
	margin:0;
}

#overlay section{
    display:none;
	background: #fff;
	margin: 100px auto;
	padding: 20px 20px 30px;
	position: relative;
	width: 80%;
	border-radius:5px;
	box-shadow: 0 0 100px rgba(0,0,0,.5);
}

#overlay pre{
	background-color: #fff;
	padding: 5px;
	margin:0
}

#overlay h2{
	font: normal 1.5em / 1 'MaidenOrangeRegular', serif;
	font-size:36px;
	margin:0 1em .2em 0;
	margin:0 1rem .5rem 0;

}

#overlay.show, #overlay section.show{
    display: block;
}

pre{
	border:1px inset #333;
	margin:1em;
    padding:1em;
    margin:1rem;
    padding:1rem;
}

