html { color: #fff; }        
    body { 
      font-family: Tahoma, sans-serif; height: 100%; text-align: center; 
      background: #666 url(../linen000.png);
    }
    
    html, body { margin: 0; padding: 0; }
    
    h1, h2 { font-family: sans-serif; text-transform: uppercase; }
        
    a { text-decoration: none; color: white; }    
    
    body > header {
      background: rgba(0, 0, 0, 0.5);
      padding: 1px 0 2em 0;
      margin-bottom: 3em;
    }

   .sd-panel + header {
     padding-top: 60px;
   }

    mark { background-color: #0092bf; }
    
    body > header h1 { font-size: 4em; margin-bottom: 0; color: #0092bf; letter-spacing: 2px; text-shadow: 0 0 1px #000, 1px 1px 1px #000, 2px 2px 1px #000; }
    body > header h1 b { color: #f14a29; }
    
    .slideshow { width: 512px; height: 320px; display: inline-block; margin: 1em; position: relative; box-shadow: 0 0 1em #000; text-align: left; }
    
    .slideshow .slides { position: relative; height: 100%; width: 100%; overflow: hidden; }
    
    .slideshow .slide, 
    .slideshow .caption { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 1em; display: table; width: 100%; height: 100%; }
    
    .slideshow section > img, 
    .slideshow .caption > img { position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: -1; }
    
    .slideshow .slide > div, 
    .slideshow .caption > div { display: table-cell; vertical-align: middle; background: top left no-repeat; background-size: 100% 100%; }
    
    .slideshow nav { display: none; }

    .slideshow blockquote, 
    .slideshow ul,
    .slideshow ol { margin-left: 0; padding-left: 1em; }
    
    .slideshow .column-left,
    .slideshow .column-right { float: left; width: 45%; }

    a.external:hover { position: relative; display: inline-block; }
    a.external:hover::before {
      top: 40%;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2em; line-height: 2em;
      content: "Click here to view this presentation";
      text-align: center;
      z-index: 1;
      background: #000;
    }
    a.external:hover::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.5);
      vertical-align: middle;
      line-height: 100px;
    }
        
    @media -o-paged {
      .slideshow.active { box-shadow: 0 0 1em indianred; }
      .slideshow .slides { overflow: -o-paged-x; color: #fff; text-shadow: 1px 1px 1px #000; }
      .slideshow .slides > * { position: static; break-inside: avoid; break-after: always;  }
      .slideshow .slide img:only-child { -o-object-fit: cover; }
      .slideshow .slide img { width: 100%; }
      .slideshow .slide header + img { -o-object-fit: contain; }
      .slideshow nav { 
        display: block; position: absolute; bottom: 0; right: 0; left: 0; height: 2em; 
        background: -o-linear-gradient(transparent, #333 5%, #000), #000; 
      }            

      .slideshow h1, .slideshow p { margin: 0.5rem 0; }

      .slideshow .slides pre { white-space: pre-line; }

      .slideshow .slides a { color: indianred; }
      .slideshow .slides h2 { margin-top: 0; }
      
      .slideshow nav button, .slideshow nav p { vertical-align: middle; }
      .slideshow nav button { background: 0 0; padding: 0 10px; border: 0; color: #fff; font-size: 2em; line-height: 0.8em;}
      .slideshow nav button:active, .slideshow nav button:focus { color: indianred; }
      .slideshow nav .next { content: "›";  }
      .slideshow nav .prev { content: "‹"; }
      .slideshow nav p { position: absolute; font-size: 0.8em; width: 60%; margin: 0; top: 40%;}
      
      .slideshow nav p::after,
      .slideshow nav p::before {
        height: 5px; border-radius: 5em; content: ""; display: inline-block; 
        position: absolute;
        left: 5em; top: 0;
      }
      
      .slideshow nav p::before { background: black; width: 100%; border: 1px solid #666; border-color: #666 #666 #000 #666; }
      .slideshow nav p::after { background: indianred; border: 1px solid maroon; border-color: pink pink maroon pink; }
      .slideshow nav p[data-progress="1"]::after { width: 10%; }
      .slideshow nav p[data-progress="2"]::after { width: 20%; }      
      .slideshow nav p[data-progress="3"]::after { width: 30%; }      
      .slideshow nav p[data-progress="4"]::after { width: 40%; }      
      .slideshow nav p[data-progress="5"]::after { width: 50%; }      
      .slideshow nav p[data-progress="6"]::after { width: 60%; }      
      .slideshow nav p[data-progress="7"]::after { width: 70%; }      
      .slideshow nav p[data-progress="8"]::after { width: 80%; }      
      .slideshow nav p[data-progress="9"]::after { width: 90%; }      
      .slideshow nav p[data-progress="10"]::after { width: 100%; }      
      
      .slideshow nav p i { position: absolute; top: -10%; display: block; right: -50%; text-align: right; }
    }
