@import url(fonts.css);

/* Panel
---------------------------------------- */
.sd-panel {
	position:absolute;
	top:-48px;
	left:0;
	width:100%;
	height:80px;
	background:#000 url(../images/cubes-pa.png) no-repeat;
	color:#FFF;
	font:12px Tahoma, sans-serif;
	-webkit-box-shadow:0 0 0 1px rgba(255, 255, 255, 0.2);
	-moz-box-shadow:0 0 0 1px rgba(255, 255, 255, 0.2);
	box-shadow:0 0 0 1px rgba(255, 255, 255, 0.2);
	-webkit-transition:top linear 0.2s;
	-moz-transition:top linear 0.2s;
	-ms-transition:top linear 0.2s;
	-o-transition:top linear 0.2s;
	transition:top linear 0.2s;
	}
	.sd-panel:after {
		position:absolute;
		bottom:-8px;
		left:50%;
		margin-left:-8px;
		width:16px;
		height:8px;
		background:url(../images/arrow.png) no-repeat;
		content:'';
		}
	.sd-logo {
		position:absolute;
		bottom:23px;
		left:96px;
		font:40px/1 'Bebas Neue', sans-serif;
		}
	.sd-logo-link {
		text-decoration:none;
		color:#FFF;
		}
	.sd-title {
		position:absolute;
		bottom:9px;
		left:96px;
		font-size:13px;
		}
.sd-panel:hover {
	top:0;
	}
	.sd-panel:hover:after {
		display:none;
		}

/* Browsers
---------------------------------------- */
.sd-browsers {
	position:absolute;
	top:16px;
	right:16px;
	}
	.sd-browser {
		overflow:hidden;
		float:left;
		margin-left:5px;
		width:18px;
		height:18px;
		background:url(../images/browsers.png) no-repeat;
		text-indent:-9999px;
		}

/* Icons */
.sd-browser-chrome {
	background-position:0 0;
	}
.sd-browser-chrome.sd-browser-supported {
	background-position:0 -19px;
	}
.sd-browser-firefox {
	background-position:-18px 0;
	}
.sd-browser-firefox.sd-browser-supported {
	background-position:-18px -19px;
	}
.sd-browser-ie {
	background-position:-36px 0;
	}
.sd-browser-ie.sd-browser-supported {
	background-position:-36px -19px;
	}
.sd-browser-opera {
	background-position:-54px 0;
	}
.sd-browser-opera.sd-browser-supported {
	background-position:-54px -19px;
	}
.sd-browser-safari {
	background-position:-72px 0;
	}
.sd-browser-safari.sd-browser-supported {
	background-position:-72px -19px;
	}