/* Bebas Neue
---------------------------------------- */
@font-face {
	font-family:'Bebas Neue';
	src:url(../fonts/BebasNeue.eot);
	src:url(../fonts/BebasNeue.eot?#iefix) format('embedded-opentype'),
		url(../fonts/BebasNeue.woff) format('woff'),
		url(../fonts/BebasNeue.ttf) format('truetype'),
		url(../fonts/BebasNeue.svg#BebasNeue) format('svg');
	}