/* Page Index
---------------------------------------- */
.page-index {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	}

/* Page Index: Header
---------------------------------------- */
.page-index .header {
	position:absolute;
	top:65px;
	left:80px;
	z-index:1;
	}
	.page-index .header P {
		position:absolute;
		top:100%;
		z-index:-1;
		visibility:hidden;
		margin:-6px 0 0 -30px;
		padding:25px 30px;
		width:480px;
		border-radius:10px;
		background:rgba(0, 0, 0, 0.2);
		opacity:0;
		-webkit-transition:opacity 0.5s;
		-moz-transition:opacity 0.5s;
		-ms-transition:opacity 0.5s;
		-o-transition:opacity 0.5s;
		transition:opacity 0.5s;
		}
	.page-index .header H1:hover {
		border-color:#1FA5EE;
		}
	.page-index .header H1:hover + P,
	.page-index .header H1:focus + P {
		visibility:visible;
		opacity:1;
		}

/* Page Index: Footer
---------------------------------------- */
.page-index .footer {
	position:absolute;
	bottom:74px;
	right:79px;
	z-index:1;
	}

/* Page Plain
---------------------------------------- */
.page-plain {
	padding:65px 80px;
	}

/* Page Plain: Header
---------------------------------------- */
.page-plain .header {
	max-width:none;
	}
	.page-plain .header H1 {
		display:inline;
		}

/* Page Plain: Footer
---------------------------------------- */
.page-plain .footer {
	max-width:none;
	}
	.page-plain .footer A {
		margin:0;
		}

/* Navigation
---------------------------------------- */
.navigation {
	position:absolute;
	top:50%;
	right:-100%;
	left:-100%;
	margin:-200px 0 0 40px;
	max-width:none;
	background:rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	-webkit-transition-property:margin-left, opacity;
	-moz-transition-property:margin-left, opacity;
	-ms-transition-property:margin-left, opacity;
	-o-transition-property:margin-left, opacity;
	transition-property:margin-left, opacity;
	-webkit-transition-duration:0.5s;
	-moz-transition-duration:0.5s;
	-ms-transition-duration:0.5s;
	-o-transition-duration:0.5s;
	transition-duration:0.5s;
	}
.navigation-right {
	margin-left:600px;
	opacity:0.2;
	}
	.navigation UL {
		position:relative;
		margin:auto;
		width:800px;
		height:480px;
		border-radius:0;
		background:#222 url(../images/cubes-wide.png) no-repeat;
		}
		.navigation LI A {
			position:absolute;
			padding:20px 0 0;
			width:80px;
			height:60px;
			}
		.navigation LI A:hover,
		.navigation LI A:focus {
			}
		.navigation LI:first-child A,
		.navigation LI:last-child A {
			border-radius:0;
			}

/* Items */
.navigation .audio A {
	top:240px;
	left:480px;
	}
.navigation .canvas A {
	top:320px;
	left:240px;
	}
.navigation .content A {
	top:160px;
	left:240px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	}
.navigation .css A {
	top:80px;
	left:640px;
	}
.navigation .forms A {
	top:160px;
	left:480px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	}
.navigation .js A {
	top:160px;
	left:160px;
	}
.navigation .parser A {
	top:320px;
	left:400px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	}
.navigation .svg A {
	top:240px;
	left:240px;
	}
.navigation .video A {
	top:160px;
	left:560px;
	}

/* LTR */
.navigation .css A,
.navigation .svg A,
.navigation .video A,
.navigation .audio A {
	direction:ltr;
	}

/* RTL */
.navigation .js A,
.navigation .forms A,
.navigation .canvas A,
.navigation .content A,
.navigation .parser A {
	direction:rtl;
	}

/* Gallery
---------------------------------------- */
.gallery {
	overflow:hidden;
	max-width:none;
	text-align:justify;
	text-align-last:center;
	}
	.gallery LI {
		display:inline-block;
		width:30%;
		vertical-align:top;
/*		text-align:left;*/
		}