@import url(reset.css);
@import url(fonts.css);

/* Global
---------------------------------------- */
BODY {
	background:#111 url(../images/texture.png) 50% 0;
	color:#FFF;
	font:12px/1 Tahoma, sans-serif;
	}
A {
	color:#1FA5EE;
	text-decoration:none;
	}

/* Page Plain
---------------------------------------- */
.page-index,
.page-plain {
	padding:65px 40px;
	}

/* Header
---------------------------------------- */
.header {
	margin:0 auto 40px;
	max-width:480px;
	}
	.header H1 {
		border-bottom:6px solid #333;
		font:50px/1 'Bebas Neue', sans-serif;
		}
	.header H1:focus {
		outline:none;
		border-color:#1FA5EE;
		}
	.header P {
		margin:32px 0 0;
		line-height:1.7;
		font-size:20px;
		}

/* Footer
---------------------------------------- */
.footer {
	margin:auto;
	max-width:480px;
	}
	.footer A {
		display:block;
		overflow:hidden;
		margin:auto;
		width:121px;
		height:48px;
		outline:none;
		background:url(../images/opera.png);
		text-indent:-9999px;
		}

/* Navigation
---------------------------------------- */
.navigation {
	margin:0 auto 40px;
	max-width:480px;
	font:50px/1 'Bebas Neue', sans-serif;
	}
	.navigation UL {
		border-radius:20px;
		background:#444 url(../images/cubes-narrow.png) no-repeat;
		}
		.navigation LI A {
			display:block;
			padding:20px 0 0;
			height:60px;
			color:#FFF;
			white-space:nowrap;
			text-indent:32px;
			text-shadow:0 0 5px rgba(0, 0, 0, 0.5);
			}
		.navigation LI:first-child A {
			border-radius:20px 20px 0 0;
			}
		.navigation LI:last-child A {
			border-radius:0 0 20px 20px;
			}
		.navigation LI A:hover,
		.navigation LI A:focus {
			outline:none;
			background:#1FA5EE;
			}

/* Gallery
---------------------------------------- */
.gallery {
	margin:auto;
	max-width:480px;
	}
	.gallery LI {
		position:relative;
		overflow:hidden;
		margin:0 0 40px;
		}
	.gallery LI:last-child {
		margin:0;
		}
	.gallery A {
		color:#FFF;
		}
	.gallery H2 {
		position:absolute;
		right:0;
		bottom:0;
		left:0;
		padding:20px 20px 14px;
		border-bottom:6px solid transparent;
		background:rgba(0, 0, 0, 0.7);
		font-size:15px;
		}
	.gallery A:hover H2,
	.gallery A:focus H2 {
		border-color:#1FA5EE;
		}
	.gallery IMG {
		display:block;
		width:100%;
		}
	.gallery P {
		position:absolute;
		top:0;
		left:0;
		display:none;
		}