.hidefromsmall{
    display:block;
}

#getcode{display:inline;}

form #advanced p{
    float:left;
    width: 24%;
}

#setborderstyle p:nth-child(4){
    width: 25%;
    white-space:nowrap;
    border-right: 15px solid rgba(0,0,0,0);
}

form #basic p{
    float:left;
    width: 32%;
}

form #advanced p{
    width: 24%;
}

form #advanced #setbgimg p.credit{
    width:100%;
}

form #advanced #setbgimg p{
    width: 32%;
}

form #basic p:nth-child(2),
form #basic p:nth-child(3){
    border-left: 1% solid rgba(0,0,0,.7);
}

fieldset fieldset{
    width: auto;
}

#main{
    width: 17em;
}

#main > video, #main > img, #main > div{
    width: 15em;
	height: 15em;
	margin: .5em auto;
}
