@-o-viewport {
  width: device-width;
  height: device-height;
}

@font-face {
    font-family: 'MaidenOrangeRegular';
    src: url('../fonts/MaidenOrange-webfont.eot');
    src: url('../fonts/MaidenOrange-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MaidenOrange-webfont.woff') format('woff'),
         url('../fonts/MaidenOrange-webfont.ttf') format('truetype'),
         url('../fonts/MaidenOrange-webfont.svg#MaidenOrangeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	position: relative;
	margin:0;
	padding:0;
	background: #E3E3E3;
	color:#222;
}

#demoname{
    font-family: 'MaidenOrangeRegular',helvetica,arial,sans-serif;
    padding-top:1em;
    text-align: center;
    font-weight:normal;
}

#wrap{
    font: 85% / 1.5 'Gudea',helvetica,arial,sans-serif;
}

#wrap section{display:block;}

#main{
	position:relative;
	width:10em;
	margin: 0 auto 2em auto;
}

/* Either the video, div or image */
#changeobj{
	border-color:#f3c;
	background-color:#0cf;
	margin:0;
}


#main > video, #main > img, #main > div{
    width: 9em;
	height: 9em;
	margin: .5em auto;
}

#main > video, #main > img{
	     -o-object-fit: fill;
	-webkit-object-fit: fill;
   	   -moz-object-fit: fill;
	    -ms-object-fit: fill;
	 -khtml-object-fit: fill;
	        object-fit: fill;
}

#main p{
	position:absolute;
	background:#ddd;
	white-space:nowrap;
	text-align:right;
	line-height: 1;
	font-family:monospace;
}

#main p:nth-child(1){top: .5em; left: -2.5em;}
#main p:nth-child(2){top: .5em; right:-2.5em; }
#main p:nth-child(3){bottom: .5em; left: -2.5em;}
#main p:nth-child(4){bottom: .5em; right: -2.5em;}

#overlay{
    display:none;
}

/* Form elements */
form{
    margin: 1em;
    padding:0;
}

form > fieldset{
    padding:0;
    margin: 0 0 .1em 0;
    border-radius: 5px;
    background: #fff;
    position:relative;
    border:none;
}
form > fieldset > legend{
    font-size: 16px;
    padding: 2.2em 0 .4em .6em;
    cursor:pointer;
}
form > fieldset legend img{
	-o-transform: rotate(0deg);
	-o-transition: -o-transform 200ms linear;

	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 200ms linear;

	-moz-transform: rotate(0deg);
	-moz-transition: -moz-transform 200ms linear;

	-ms-transform: rotate(0deg);
	-ms-transition: -ms-transform 200ms linear;

	vertical-align: middle;
}

form > fieldset div{
	max-height:.01em;
	     -o-transition-property: min-height, max-height;
	-webkit-transition-property: min-height, max-height;
	    -ms-transition-property: min-height, max-height;
	   -moz-transition-property: min-height, max-height;
	 -khtml-transition-property: min-height, max-height;

	     -o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	    -ms-transition-duration: 500ms;
	   -moz-transition-duration: 500ms;
     -khtml-transition-duration: 500ms;

         -o-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	-webkit-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	    -ms-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	   -moz-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	 -khtml-transition-timing-function: cubic-bezier(.5,.8,.2,.9);

	overflow: hidden;
	width: 100%;
	padding:0;
}

form > fieldset.active div{
	min-height: 10em;
	max-height: 80em;
	height:auto;
}

form > fieldset.active legend img{
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

fieldset#advanced, fieldset#basic{
    position:relative;
}
fieldset#advanced{ margin-bottom: 1em }
fieldset fieldset{
    background:#fff;
    margin: 0 0 10px 0;
    position:relative;
    border:0;
}
fieldset fieldset legend{
    padding-top: 2em;
    font-family: monospace;
}

fieldset#advanced{
    margin-top:-1.2em;
}

/* Hide some elements from small screens */
.hidefromsmall{
    display:none;
}


label.radius{display:block}

.notmono{font-family: sans-serif;}


/* For Android browsers */
.norangeui input[type='range']{
    background-color: #ccc;
    border-radius: 15px;
}

.norangeui input[type='range']::-webkit-slider-thumb{
    height:15px;
    width:15px;
    border-radius:15px;
    background: transparent url(/shinydemos/demos/borderradius-fun/images/thumb-up.png);
}

.norangeui input[type='range']::-webkit-slider-thumb:focus{
    background: url(/shinydemos/demos/borderradius-fun/images/thumb.png);
}

