body#cssbr{
	position: relative;
	font: 85% / 1.5 helvetica,arial,sans-serif;
	margin:0
	padding:0;
	background: #eee;
}
section{display:block;}

#main{
	position:relative;
	width:10em;
	margin:auto;
}


#changeobj{
	border-color:#f3c;
	background-color:#0cf;
	margin:0;
}


#main > video, #main > img, #main > div{
    width: 9em;
	height: 9em;
	margin: .5em auto;
}

#main > video, #main > img{
	     -o-object-fit: fill;
	-webkit-object-fit: fill;
   	   -moz-object-fit: fill;
	    -ms-object-fit: fill;
	 -khtml-object-fit: fill;
	        object-fit: fill;
}

#main p{
	position:absolute;
	background:#ddd;
	white-space:nowrap;
	text-align:right;
	line-height: 1;
	font-family:monospace;
}

#main p:nth-child(1){top: .5em; left: -2.5em;}
#main p:nth-child(2){top: .5em; right:-2.5em; }
#main p:nth-child(3){bottom: .5em; left: -2.5em;}
#main p:nth-child(4){bottom: .5em; right: -2.5em;}

#overlay{
    display:none;
}

/* Hide some elements from small screens */
.hidefromsmall{
    display:none;
}

/* Form elements */
form > fieldset > legend{font-size: 16px; padding-top: .5em; cursor:pointer}
form > fieldset legend img{
	-o-transform: rotate(0deg);
	-o-transition: -o-transform 200ms linear;

	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 200ms linear;

	-moz-transform: rotate(0deg);
	-moz-transition: -moz-transform 200ms linear;

	-ms-transform: rotate(0deg);
	-ms-transition: -ms-transform 200ms linear;

	vertical-align: middle;
}

form > fieldset div{
	max-height:.01em;
	     -o-transition-property: min-height, max-height;
	-webkit-transition-property: min-height, max-height;
	    -ms-transition-property: min-height, max-height;
	   -moz-transition-property: min-height, max-height;
	 -khtml-transition-property: min-height, max-height;

	     -o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	    -ms-transition-duration: 500ms;
	   -moz-transition-duration: 500ms;
     -khtml-transition-duration: 500ms;

         -o-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	-webkit-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	    -ms-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	   -moz-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	 -khtml-transition-timing-function: cubic-bezier(.5,.8,.2,.9);

	overflow: hidden;
	width: 100%;
	padding:0;
}

form > fieldset.active div{
	min-height: 10em;
	max-height: 80em;
	height:auto;
}

form > fieldset.active legend img{
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}


input[type='range']{
    background-color: #ccc;
    height: 8px;
    display:block;
}

input[type='range']::-webkit-slider-thumb{
    height:15px;
    width:15px;
    background: transparent url(/shinydemos/demos/borderradius-fun/images/thumb-up.png);
}

input[type='range']::-webkit-slider-thumb:focus{
    background: url(/shinydemos/demos/borderradius-fun/images/thumb.png);
}