@-o-viewport {
  width: device-width;
  height: device-height;
}

@font-face {
    font-family: 'MaidenOrangeRegular';
    src: url('../fonts/MaidenOrange-webfont.eot');
    src: url('../fonts/MaidenOrange-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MaidenOrange-webfont.woff') format('woff'),
         url('../fonts/MaidenOrange-webfont.ttf') format('truetype'),
         url('../fonts/MaidenOrange-webfont.svg#MaidenOrangeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	position: relative;
	margin:0;
	padding:0;
	background: #E3E3E3;
	color:#222;
}

section{display:block;}

#demoname{
    font-family: 'MaidenOrangeRegular',helvetica,arial,sans-serif;
    padding-top:1em;
    text-align: center;
    font-weight:normal;
}

#wrap{
    font: 100% / 1.5 'Gudea',helvetica,arial,sans-serif;
    min-width: 320px;
    margin:auto;
}

#wrap section{display:block;}

#main{
	position:relative;
	width:10em;
	margin: 0 auto 2em auto;
}

#main > video, #main > img, #main > div{
    width: 9em;
	height: 9em;
	margin: .5em auto;
}

#main > video, #main > img{
	     -o-object-fit: fill;
	-webkit-object-fit: fill;
   	   -moz-object-fit: fill;
	    -ms-object-fit: fill;
	 -khtml-object-fit: fill;
	        object-fit: fill;
}

#main p{
	position:absolute;
	background:#FBA783;
	white-space:nowrap;
	text-align:right;
	line-height: 1;
	font-family:monospace;
	padding:3px;
}

#main p:nth-child(1){top: .5em; left: -2.5em;}
#main p:nth-child(2){top: .5em; right:-2.5em; }
#main p:nth-child(3){bottom: .5em; left: -2.5em;}
#main p:nth-child(4){bottom: .5em; right: -2.5em;}


/* Either the video, div or image */
#changeobj{
	border-color:#f3c;
	background-color:#1FA5EE;
	margin:0;
}

/* Form elements */
form{
    margin: -3em 1em 1em;
    padding:0;
    border-radius: 5px;
}

form > fieldset{
    padding:0;
    margin: 0 0 .1em 0;
    position:relative;
    border:none;
}
form > fieldset > legend{
    font-size: 24px;
    padding: 2em 0 .4em .4em;
    cursor:pointer;
}
form > fieldset legend img{
	-o-transform: rotate(0deg);
	-o-transition: -o-transform 200ms linear;

	-webkit-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 200ms linear;

	-moz-transform: rotate(0deg);
	-moz-transition: -moz-transform 200ms linear;

	-ms-transform: rotate(0deg);
	-ms-transition: -ms-transform 200ms linear;

	vertical-align: middle;
}

form > fieldset div{
	max-height:.01em;
	     -o-transition-property: min-height, max-height;
	-webkit-transition-property: min-height, max-height;
	    -ms-transition-property: min-height, max-height;
	   -moz-transition-property: min-height, max-height;
	 -khtml-transition-property: min-height, max-height;

	     -o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
	    -ms-transition-duration: 500ms;
	   -moz-transition-duration: 500ms;
     -khtml-transition-duration: 500ms;

         -o-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	-webkit-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	    -ms-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	   -moz-transition-timing-function: cubic-bezier(.5,.8,.2,.9);
	 -khtml-transition-timing-function: cubic-bezier(.5,.8,.2,.9);

	overflow: hidden;
	width: 100%;
	padding:0;
}

form > fieldset.active div{
	min-height: 10em;
	max-height: 80em;
	height:auto;
}

form > fieldset.active legend img{
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

fieldset#advanced, fieldset#basic{
    position:relative;
    background:#fff;
    border-radius: 5px;
}


fieldset fieldset{
    margin: -1.6em .5em .5em .5em;
    padding: 0em 1em 0 1em;
    position:relative;
    background:#eee;
    clear:both;
    border:none;
    border-radius: 5px;
}

fieldset fieldset legend{
    padding: 3em 0 .5em 0;
    font-weight:bold;
}

fieldset#advanced{
    margin-top:-1.3em;
}

form #buttons{
    padding-top:1em;
}

form p{
    margin:0 0 1em 0;
    padding:0;
}

label.radius{display:block}

input[type='range']{
     width:inherit;
}

input[type='range'].notrange{
     border: 1px solid #ccc;
     font: inherit;
     font-size: 1.5em;
     padding: .1em;
     margin-top:.1em;
     width: 3em;
     text-align:right;
}

input[type='range'].notrange:focus{
    border-color: rgb(248, 93, 27);
}

select{
    font:inherit;
}

.notmono{font-family: sans-serif;}

/* For Android browsers */
.norangeui input[type='range']{
    background-color: #ccc;
    border-radius: 15px;
}

.norangeui input[type='range']::-webkit-slider-thumb{
    height:15px;
    width:15px;
    border-radius:15px;
    background: transparent url(/shinydemos/demos/borderradius-fun/images/thumb-up.png);
}

.norangeui input[type='range']::-webkit-slider-thumb:focus{
    background: url(/shinydemos/demos/borderradius-fun/images/thumb.png);
}

/* Only appears on larger screens */
.sample{
    display:inline-block;
    width: 2em;
    height:2em;
    margin:0 .5em -.5em .5em;
}

.patt002{background-image: url('../images/pattern_002.gif');}
.patt123{background-image: url('../images/pattern_132.gif');}
.patt141{background-image: url('../images/pattern_141.gif');}
.patt155{background-image: url('../images/pattern_155.gif');}
.patt157{background-image: url('../images/pattern_157.gif');}

.clear{clear:both;}
.credit{font-size:.8em; color: rgba(0,0,0,.8); text-align: right;}
.credit a{color: rgba(0,0,0,.8);}
.credit a:hover{color: #c09; margin:0}

.hidefromsmall, #getcode{display:none;}
.show{display: block;}

button{
	background-color:#1FA5EE;
	border: 1px outset #1FA5EE;
	color:#fff;
	border-radius: 5px;
	font:inherit;
	text-shadow: 1px 0px 0px #003;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 85, 255)), to(rgb(31, 165, 238)));
    background-image: -webkit-linear-gradient(top, rgb(0, 85, 255), rgb(31, 165, 238));
    background-image: -moz-linear-gradient(top, rgb(0, 85, 255), rgb(31, 165, 238));
    background-image: -o-linear-gradient(top, rgb(0, 85, 255), rgb(31, 165, 238));
    background-image: -ms-linear-gradient(top, rgb(0, 85, 255), rgb(31, 165, 238));
    background-image: linear-gradient(top, rgb(0, 85, 255), rgb(31, 165, 238));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0055ff', EndColorStr='#1fa5ee');
}

button:hover, button:focus{
	background-color:#0055ff;
	background-image:none;
	border: 1px solid #03f;
	color:#fff;
	border-radius: 5px;
	font:inherit;
	text-shadow: none;
}

button:disabled, button[disabled]{
    color:#666;
    text-shadow: none;
   	border: 1px solid #a8a8a8;
    background-color: #ebecea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 236, 234)), to(rgb(168, 168, 168)));
    background-image: -webkit-linear-gradient(top, rgb(235, 236, 234), rgb(168, 168, 168));
    background-image: -moz-linear-gradient(top, rgb(235, 236, 234), rgb(168, 168, 168));
    background-image: -o-linear-gradient(top, rgb(235, 236, 234), rgb(168, 168, 168));
    background-image: -ms-linear-gradient(top, rgb(235, 236, 234), rgb(168, 168, 168));
    background-image: linear-gradient(top, rgb(235, 236, 234), rgb(168, 168, 168));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ebecea', EndColorStr='#a8a8a8');
}

#unsupported a:link, #overlay a.close{ color: #33f; }
#unsupported a:visited{ color: #30c; }
#unsupported a:hover, #unsupported a:active{ color: #f09; }

.close{
	background:#f09;
	color: #fff;
	padding: 1px 3px;
	position:absolute;
	cursor: pointer;
}
#unsupported a.close{ right:20px; }
#unsupported a.close:hover{
	background:#000;
	color:#fff;
	text-decoration:none;
}
