body {
	background: url("../images/voskhod-2__2.jpg") center center no-repeat #000;
	color: #FFF;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:'trebuchet ms', 'lucida grande', 'lucida sans unicode', arial, helvetica, sans-serif;
	text-align:center;
}

canvas { pointer-events:none; z-index:10;}

p { font-size: small;}

#log-panel {
  font-family: Arial;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  background-color: red;
  font-weight: bold;
  font-size: 1em;
  z-index: 4000;
}

#title {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

