<script>
	(function(){
		var featuresupportContainer = document.getElementById('sd-features');
{{#if features}}
		var features = '{{features}}'.split(',');
		for(var i = 0, j = features.length; i < j; i++){
			if(!Modernizr[features[i]]) {
				featuresupportContainer.innerText = 'Your browser doesn’t support all required features';
				featuresupportContainer.className += ' sd-features-nope';
				return;
			}
		}
{{/if}}
		featuresupportContainer.innerText = 'Success! Your browser supports all these features!';
		featuresupportContainer.className += ' sd-features-yep';
	})();
</script>
