<!DOCTYPE html>
<html>
<head>
	<title>Shiny Demos</title>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="styles/screen.css">
	<link rel="stylesheet" href="styles/screen-wide.css" media="only screen and (min-width:800px)">
	<script src="scripts/jquery.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>
	<div class="page-index">
		<header class="header">
			<h1 tabindex="0">Shiny Demos</h1>
			<p>Shinydemos is a growing set of demos of the latest Open Web Standards, made by the Opera developer relations team. No browser is blocked: any browser that supports the standard sees the shiny!</p>
		</header>
		<nav class="navigation">
			<ul>		  
		  {{#each tags}}
				<li class="{{hyphenate this}}"><a href="{{hyphenate this}}.html">{{this}}</a></li>
			{{/each}}
			</ul>
		</nav>
		<footer class="footer">
			<p><a href="http://www.opera.com/developer/">Opera Software</a></p>
		</footer>
	</div>
</body>
</html>