<!DOCTYPE html>
<html>
<head>
	<title>Shiny Demos</title>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="styles/screen.css">
	<link rel="stylesheet" href="styles/screen-wide.css" media="only screen and (min-width:800px)">
	<script src="scripts/jquery.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>
	<div class="page-index">
		<header class="header">
			<h1 tabindex="0">Shiny Demos</h1>
			<p>Shinydemos is a growing set of demos of the latest Open Web Standards, made by the Opera developer relations team. No browser is blocked: any browser that supports the standard sees the shiny!</p>
		</header>
		<nav class="navigation">
			<ul>
				<li class="audio"><a href="tag.html">Audio</a></li>
				<li class="canvas"><a href="tag.html">Canvas</a></li>
				<li class="content"><a href="tag.html">Content Editable</a></li>
				<li class="css"><a href="tag.html">CSS3</a></li>
				<li class="forms"><a href="tag.html">Web Forms</a></li>
				<li class="js"><a href="tag.html">JavaScript</a></li>
				<li class="parser"><a href="tag.html">HTML5 Parser</a></li>
				<li class="svg"><a href="tag.html">SVG</a></li>
				<li class="video"><a href="tag.html">Video</a></li>
			</ul>
		</nav>
		<footer class="footer">
			<p><a href="http://www.opera.com/developer/">Opera Software</a></p>
		</footer>
	</div>
</body>
</html>