<!DOCTYPE html>
<html>
<head>
	<title>Shiny Demos</title>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="styles/screen.css">
	<link rel="stylesheet" href="styles/screen-wide.css" media="only screen and (min-width:800px)">
	<script src="scripts/jquery.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>
	<div class="page-plain">
		<header class="header">
			<p><a href="index.html">Shiny Demos</a></p>
			<h1>HTML5 Parser</h1>
			<p>Shinydemos is a growing set of demos of the latest Open Web Standards, made by the Opera developer relations team. No browser is blocked: any browser that supports the standard sees the shiny!</p>
		</header>
		<ul class="gallery">
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/01.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/02.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/03.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/04.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/05.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/06.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/07.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/08.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/09.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/10.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/11.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li>
				<a href="demo/index.html">
					<h2>Yet Another Shiny Demo With Catchy Title</h2>
					<img src="pictures/12.jpg" alt="">
				</a>
				<p>Tags: <a href="">css</a> <a href="">html</a> <a href="">javascript</a></p>
			</li>
			<li></li>
		</ul>
		<footer class="footer">
			<p><a href="http://www.opera.com/developer/">Opera Software</a></p>
		</footer>
	</div>
</body>
</html>