<!DOCTYPE html>
<html>
<head>
	<title>Shiny Demos</title>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="styles/screen.css">
	<link rel="stylesheet" href="styles/screen-wide.css" media="only screen and (min-width:800px)">
	<script src="scripts/jquery.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body>
	<div class="page-plain">
		<header class="header">
			<p><a href="index.html">Shiny Demos</a></p>
			<h1>{{title}}</h1>
			<p>Shinydemos is a growing set of demos of the latest Open Web Standards, made by the Opera developer relations team. No browser is blocked: any browser that supports the standard sees the shiny!</p>
		</header>
		<ul class="gallery">
		  {{#each slugs}}
		  <li>
		    <a href={{this.path}}>
		      <h2>{{this.title}}</h2>
		      <img src="{{thumb}}" alt="">
		    </a>
		    <p>Tags: {{this.demotags}}</p>
		  </li>
		  {{/each}}
		</ul>
		<footer class="footer">
			<p><a href="http://www.opera.com/developer/">Opera Software</a></p>
		</footer>
	</div>
</body>
</html>