@charset "UTF-8";
html {
  background-color: #000;
  background: url("../images/bg-2.png") black;
  color: #fff;
  overflow: hidden;
}

body {
  font-family: sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.planet a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid skyblue;
}
.planet a:hover {
  color: skyblue;
}

.aside a {
  display: none;
}

@media (min-height: 300px) and (min-width: 300px) {
  #scrollpage {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -150px;
  }

  .aside {
    position: absolute;
    bottom: 0;
    left: 0em;
    right: 0em;
    padding: 1em 0;
    z-index: 4;
    text-align: center;
  }

  .aside a {
    padding: 0 1em;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 0.9em;
  }

  .aside a:hover, aside a.active {
    color: yellow;
  }

  .planet {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -o-transition: -o-transform 2s ease-out;
    -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
  }
  .planet.active h2, .planet.active p a {
    opacity: 1;
  }
  .planet h2, .planet p a {
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
  }
  .planet a {
    padding: 0;
    border: 0;
  }
  .planet div {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  .planet p {
    background: url(../images/planet-1.png) no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 300px;
    position: relative;
  }

  #scrollpage {
    -moz-transform: translate(12em, 0);
    -webkit-transform: translate(12em, 0);
    -o-transform: translate(12em, 0);
    -ms-transform: translate(12em, 0);
    transform: translate(12em, 0);
  }

  #parallax.scale-0 {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .planet:nth-child(1) {
    -moz-transform: scale(0.7) translate(-17.5em, 0em);
    -webkit-transform: scale(0.7) translate(-17.5em, 0em);
    -o-transform: scale(0.7) translate(-17.5em, 0em);
    -ms-transform: scale(0.7) translate(-17.5em, 0em);
    transform: scale(0.7) translate(-17.5em, 0em);
    z-index: 7;
  }

  #scrollpage .planet.scalehide-0 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-0 {
    -moz-transform: scale(0.7) translate(-17.5em, 0em);
    -webkit-transform: scale(0.7) translate(-17.5em, 0em);
    -o-transform: scale(0.7) translate(-17.5em, 0em);
    -ms-transform: scale(0.7) translate(-17.5em, 0em);
    transform: scale(0.7) translate(-17.5em, 0em);
  }

  #parallax.scale-1 {
    -moz-transform: scale(0.84);
    -webkit-transform: scale(0.84);
    -o-transform: scale(0.84);
    -ms-transform: scale(0.84);
    transform: scale(0.84);
  }

  .planet:nth-child(2) {
    -moz-transform: scale(0.6) translate(-10.911em, 3.909em);
    -webkit-transform: scale(0.6) translate(-10.911em, 3.909em);
    -o-transform: scale(0.6) translate(-10.911em, 3.909em);
    -ms-transform: scale(0.6) translate(-10.911em, 3.909em);
    transform: scale(0.6) translate(-10.911em, 3.909em);
    z-index: 6;
  }

  #scrollpage .planet.scalehide-1 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-1 {
    -moz-transform: scale(0.6) translate(-10.911em, 3.909em);
    -webkit-transform: scale(0.6) translate(-10.911em, 3.909em);
    -o-transform: scale(0.6) translate(-10.911em, 3.909em);
    -ms-transform: scale(0.6) translate(-10.911em, 3.909em);
    transform: scale(0.6) translate(-10.911em, 3.909em);
  }

  #parallax.scale-2 {
    -moz-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -o-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  .planet:nth-child(3) {
    -moz-transform: scale(0.5) translate(3.894em, 4.875em);
    -webkit-transform: scale(0.5) translate(3.894em, 4.875em);
    -o-transform: scale(0.5) translate(3.894em, 4.875em);
    -ms-transform: scale(0.5) translate(3.894em, 4.875em);
    transform: scale(0.5) translate(3.894em, 4.875em);
    z-index: 5;
  }

  #scrollpage .planet.scalehide-2 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-2 {
    -moz-transform: scale(0.5) translate(3.894em, 4.875em);
    -webkit-transform: scale(0.5) translate(3.894em, 4.875em);
    -o-transform: scale(0.5) translate(3.894em, 4.875em);
    -ms-transform: scale(0.5) translate(3.894em, 4.875em);
    transform: scale(0.5) translate(3.894em, 4.875em);
  }

  #parallax.scale-3 {
    -moz-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -o-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
  }

  .planet:nth-child(4) {
    -moz-transform: scale(0.4) translate(15.767em, 2.169em);
    -webkit-transform: scale(0.4) translate(15.767em, 2.169em);
    -o-transform: scale(0.4) translate(15.767em, 2.169em);
    -ms-transform: scale(0.4) translate(15.767em, 2.169em);
    transform: scale(0.4) translate(15.767em, 2.169em);
    z-index: 4;
  }

  #scrollpage .planet.scalehide-3 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-3 {
    -moz-transform: scale(0.4) translate(15.767em, 2.169em);
    -webkit-transform: scale(0.4) translate(15.767em, 2.169em);
    -o-transform: scale(0.4) translate(15.767em, 2.169em);
    -ms-transform: scale(0.4) translate(15.767em, 2.169em);
    transform: scale(0.4) translate(15.767em, 2.169em);
  }

  #parallax.scale-4 {
    -moz-transform: scale(1.26);
    -webkit-transform: scale(1.26);
    -o-transform: scale(1.26);
    -ms-transform: scale(1.26);
    transform: scale(1.26);
  }

  .planet:nth-child(5) {
    -moz-transform: scale(0.3) translate(15.767em, -2.169em);
    -webkit-transform: scale(0.3) translate(15.767em, -2.169em);
    -o-transform: scale(0.3) translate(15.767em, -2.169em);
    -ms-transform: scale(0.3) translate(15.767em, -2.169em);
    transform: scale(0.3) translate(15.767em, -2.169em);
    z-index: 3;
  }

  #scrollpage .planet.scalehide-4 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-4 {
    -moz-transform: scale(0.3) translate(15.767em, -2.169em);
    -webkit-transform: scale(0.3) translate(15.767em, -2.169em);
    -o-transform: scale(0.3) translate(15.767em, -2.169em);
    -ms-transform: scale(0.3) translate(15.767em, -2.169em);
    transform: scale(0.3) translate(15.767em, -2.169em);
  }

  #parallax.scale-5 {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  .planet:nth-child(6) {
    -moz-transform: scale(0.2) translate(3.894em, -4.875em);
    -webkit-transform: scale(0.2) translate(3.894em, -4.875em);
    -o-transform: scale(0.2) translate(3.894em, -4.875em);
    -ms-transform: scale(0.2) translate(3.894em, -4.875em);
    transform: scale(0.2) translate(3.894em, -4.875em);
    z-index: 2;
  }

  #scrollpage .planet.scalehide-5 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-5 {
    -moz-transform: scale(0.2) translate(3.894em, -4.875em);
    -webkit-transform: scale(0.2) translate(3.894em, -4.875em);
    -o-transform: scale(0.2) translate(3.894em, -4.875em);
    -ms-transform: scale(0.2) translate(3.894em, -4.875em);
    transform: scale(0.2) translate(3.894em, -4.875em);
  }

  #parallax.scale-6 {
    -moz-transform: scale(1.54);
    -webkit-transform: scale(1.54);
    -o-transform: scale(1.54);
    -ms-transform: scale(1.54);
    transform: scale(1.54);
  }

  .planet:nth-child(7) {
    -moz-transform: scale(0.1) translate(-10.911em, -3.909em);
    -webkit-transform: scale(0.1) translate(-10.911em, -3.909em);
    -o-transform: scale(0.1) translate(-10.911em, -3.909em);
    -ms-transform: scale(0.1) translate(-10.911em, -3.909em);
    transform: scale(0.1) translate(-10.911em, -3.909em);
    z-index: 1;
  }

  #scrollpage .planet.scalehide-6 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-6 {
    -moz-transform: scale(0.1) translate(-10.911em, -3.909em);
    -webkit-transform: scale(0.1) translate(-10.911em, -3.909em);
    -o-transform: scale(0.1) translate(-10.911em, -3.909em);
    -ms-transform: scale(0.1) translate(-10.911em, -3.909em);
    transform: scale(0.1) translate(-10.911em, -3.909em);
  }

  #parallax.scale-7 {
    -moz-transform: scale(1.68);
    -webkit-transform: scale(1.68);
    -o-transform: scale(1.68);
    -ms-transform: scale(1.68);
    transform: scale(1.68);
  }

  .planet:nth-child(8) {
    -moz-transform: scale(0) translate(-17.5em, 0.0em);
    -webkit-transform: scale(0) translate(-17.5em, 0.0em);
    -o-transform: scale(0) translate(-17.5em, 0.0em);
    -ms-transform: scale(0) translate(-17.5em, 0.0em);
    transform: scale(0) translate(-17.5em, 0.0em);
    z-index: 0;
  }

  #scrollpage .planet.scalehide-7 {
    -moz-transform: scale(3.5) translate(-7.5em, -17.5em);
    -webkit-transform: scale(3.5) translate(-7.5em, -17.5em);
    -o-transform: scale(3.5) translate(-7.5em, -17.5em);
    -ms-transform: scale(3.5) translate(-7.5em, -17.5em);
    transform: scale(3.5) translate(-7.5em, -17.5em);
  }

  #scrollpage .planet.scaleshow-7 {
    -moz-transform: scale(0) translate(-17.5em, 0.0em);
    -webkit-transform: scale(0) translate(-17.5em, 0.0em);
    -o-transform: scale(0) translate(-17.5em, 0.0em);
    -ms-transform: scale(0) translate(-17.5em, 0.0em);
    transform: scale(0) translate(-17.5em, 0.0em);
  }

  .planet a.spec-0 {
    top: 150px;
    left: 240px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-1 {
    top: 220.534px;
    left: 217.082px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-2 {
    top: 264.127px;
    left: 157.082px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-3 {
    top: 264.127px;
    right: 157.082px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-3::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-4 {
    top: 220.534px;
    right: 217.082px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-4::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-5 {
    top: 150.0px;
    right: 240px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-5::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-6 {
    top: 79.466px;
    right: 217.082px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-6::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-7 {
    top: 35.873px;
    right: 157.082px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-7::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-8 {
    top: 35.873px;
    left: 157.082px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-9 {
    top: 79.466px;
    left: 217.082px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-10 {
    top: 150.0px;
    left: 240px;
    padding: 0 0 0 40px;
  }

  [data-skin="0"] p {
    background-image: url(../images/planet-1.png);
  }

  [data-skin="1"] p {
    background-image: url(../images/planet-2.png);
  }

  [data-skin="2"] p {
    background-image: url(../images/planet-3.png);
  }

  [data-skin="3"] p {
    background-image: url(../images/planet-4.png);
  }

  .planet h2 {
    font-size: 2em;
    margin: 0;
    display: table;
    letter-spacing: 0.15em;
    line-height: 1em;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .planet h2 b {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
  }

  .planet a {
    position: absolute;
    padding-left: 40px;
    line-height: 1;
    padding: 0;
    text-transform: uppercase;
    margin-top: -16px;
    z-index: 3;
  }

  .planet a::before {
    content: '•';
    font-size: 80px;
    line-height: 1px;
    position: absolute;
    top: 16px;
    left: 0;
    color: black;
    text-shadow: none;
    display: block;
  }
}
@media (min-height: 600px) and (min-width: 600px) {
  html {
    background: url("../images/bg-3.png") center center, url("../images/bg-2.png") 0px 0px, url("../images/bg-2.png") -85px 65px, url("../images/broken_noise.png"), black;
  }

  #parallax {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../images/bg-4.png") center center no-repeat;
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -o-transition: -o-transform 3s linear;
    -webkit-transition: -webkit-transform 3s linear;
    -moz-transition: -moz-transfrom 3s linear;
    -ms-transition: -ms-transform 3s linear;
  }

  #scrollpage {
    margin-top: -275px;
  }

  #scrollpage {
    -moz-transform: translate(27em, 0);
    -webkit-transform: translate(27em, 0);
    -o-transform: translate(27em, 0);
    -ms-transform: translate(27em, 0);
    transform: translate(27em, 0);
  }

  #parallax.scale-0 {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .planet:nth-child(1) {
    -moz-transform: scale(0.7) translate(-35em, 0em);
    -webkit-transform: scale(0.7) translate(-35em, 0em);
    -o-transform: scale(0.7) translate(-35em, 0em);
    -ms-transform: scale(0.7) translate(-35em, 0em);
    transform: scale(0.7) translate(-35em, 0em);
    z-index: 7;
  }

  #scrollpage .planet.scalehide-0 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-0 {
    -moz-transform: scale(0.7) translate(-35em, 0em);
    -webkit-transform: scale(0.7) translate(-35em, 0em);
    -o-transform: scale(0.7) translate(-35em, 0em);
    -ms-transform: scale(0.7) translate(-35em, 0em);
    transform: scale(0.7) translate(-35em, 0em);
  }

  #parallax.scale-1 {
    -moz-transform: scale(0.84);
    -webkit-transform: scale(0.84);
    -o-transform: scale(0.84);
    -ms-transform: scale(0.84);
    transform: scale(0.84);
  }

  .planet:nth-child(2) {
    -moz-transform: scale(0.6) translate(-21.822em, 7.818em);
    -webkit-transform: scale(0.6) translate(-21.822em, 7.818em);
    -o-transform: scale(0.6) translate(-21.822em, 7.818em);
    -ms-transform: scale(0.6) translate(-21.822em, 7.818em);
    transform: scale(0.6) translate(-21.822em, 7.818em);
    z-index: 6;
  }

  #scrollpage .planet.scalehide-1 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-1 {
    -moz-transform: scale(0.6) translate(-21.822em, 7.818em);
    -webkit-transform: scale(0.6) translate(-21.822em, 7.818em);
    -o-transform: scale(0.6) translate(-21.822em, 7.818em);
    -ms-transform: scale(0.6) translate(-21.822em, 7.818em);
    transform: scale(0.6) translate(-21.822em, 7.818em);
  }

  #parallax.scale-2 {
    -moz-transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -o-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
  }

  .planet:nth-child(3) {
    -moz-transform: scale(0.5) translate(7.788em, 9.749em);
    -webkit-transform: scale(0.5) translate(7.788em, 9.749em);
    -o-transform: scale(0.5) translate(7.788em, 9.749em);
    -ms-transform: scale(0.5) translate(7.788em, 9.749em);
    transform: scale(0.5) translate(7.788em, 9.749em);
    z-index: 5;
  }

  #scrollpage .planet.scalehide-2 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-2 {
    -moz-transform: scale(0.5) translate(7.788em, 9.749em);
    -webkit-transform: scale(0.5) translate(7.788em, 9.749em);
    -o-transform: scale(0.5) translate(7.788em, 9.749em);
    -ms-transform: scale(0.5) translate(7.788em, 9.749em);
    transform: scale(0.5) translate(7.788em, 9.749em);
  }

  #parallax.scale-3 {
    -moz-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -o-transform: scale(1.12);
    -ms-transform: scale(1.12);
    transform: scale(1.12);
  }

  .planet:nth-child(4) {
    -moz-transform: scale(0.4) translate(31.534em, 4.339em);
    -webkit-transform: scale(0.4) translate(31.534em, 4.339em);
    -o-transform: scale(0.4) translate(31.534em, 4.339em);
    -ms-transform: scale(0.4) translate(31.534em, 4.339em);
    transform: scale(0.4) translate(31.534em, 4.339em);
    z-index: 4;
  }

  #scrollpage .planet.scalehide-3 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-3 {
    -moz-transform: scale(0.4) translate(31.534em, 4.339em);
    -webkit-transform: scale(0.4) translate(31.534em, 4.339em);
    -o-transform: scale(0.4) translate(31.534em, 4.339em);
    -ms-transform: scale(0.4) translate(31.534em, 4.339em);
    transform: scale(0.4) translate(31.534em, 4.339em);
  }

  #parallax.scale-4 {
    -moz-transform: scale(1.26);
    -webkit-transform: scale(1.26);
    -o-transform: scale(1.26);
    -ms-transform: scale(1.26);
    transform: scale(1.26);
  }

  .planet:nth-child(5) {
    -moz-transform: scale(0.3) translate(31.534em, -4.339em);
    -webkit-transform: scale(0.3) translate(31.534em, -4.339em);
    -o-transform: scale(0.3) translate(31.534em, -4.339em);
    -ms-transform: scale(0.3) translate(31.534em, -4.339em);
    transform: scale(0.3) translate(31.534em, -4.339em);
    z-index: 3;
  }

  #scrollpage .planet.scalehide-4 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-4 {
    -moz-transform: scale(0.3) translate(31.534em, -4.339em);
    -webkit-transform: scale(0.3) translate(31.534em, -4.339em);
    -o-transform: scale(0.3) translate(31.534em, -4.339em);
    -ms-transform: scale(0.3) translate(31.534em, -4.339em);
    transform: scale(0.3) translate(31.534em, -4.339em);
  }

  #parallax.scale-5 {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  .planet:nth-child(6) {
    -moz-transform: scale(0.2) translate(7.788em, -9.749em);
    -webkit-transform: scale(0.2) translate(7.788em, -9.749em);
    -o-transform: scale(0.2) translate(7.788em, -9.749em);
    -ms-transform: scale(0.2) translate(7.788em, -9.749em);
    transform: scale(0.2) translate(7.788em, -9.749em);
    z-index: 2;
  }

  #scrollpage .planet.scalehide-5 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-5 {
    -moz-transform: scale(0.2) translate(7.788em, -9.749em);
    -webkit-transform: scale(0.2) translate(7.788em, -9.749em);
    -o-transform: scale(0.2) translate(7.788em, -9.749em);
    -ms-transform: scale(0.2) translate(7.788em, -9.749em);
    transform: scale(0.2) translate(7.788em, -9.749em);
  }

  #parallax.scale-6 {
    -moz-transform: scale(1.54);
    -webkit-transform: scale(1.54);
    -o-transform: scale(1.54);
    -ms-transform: scale(1.54);
    transform: scale(1.54);
  }

  .planet:nth-child(7) {
    -moz-transform: scale(0.1) translate(-21.822em, -7.818em);
    -webkit-transform: scale(0.1) translate(-21.822em, -7.818em);
    -o-transform: scale(0.1) translate(-21.822em, -7.818em);
    -ms-transform: scale(0.1) translate(-21.822em, -7.818em);
    transform: scale(0.1) translate(-21.822em, -7.818em);
    z-index: 1;
  }

  #scrollpage .planet.scalehide-6 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-6 {
    -moz-transform: scale(0.1) translate(-21.822em, -7.818em);
    -webkit-transform: scale(0.1) translate(-21.822em, -7.818em);
    -o-transform: scale(0.1) translate(-21.822em, -7.818em);
    -ms-transform: scale(0.1) translate(-21.822em, -7.818em);
    transform: scale(0.1) translate(-21.822em, -7.818em);
  }

  #parallax.scale-7 {
    -moz-transform: scale(1.68);
    -webkit-transform: scale(1.68);
    -o-transform: scale(1.68);
    -ms-transform: scale(1.68);
    transform: scale(1.68);
  }

  .planet:nth-child(8) {
    -moz-transform: scale(0) translate(-35em, 0.0em);
    -webkit-transform: scale(0) translate(-35em, 0.0em);
    -o-transform: scale(0) translate(-35em, 0.0em);
    -ms-transform: scale(0) translate(-35em, 0.0em);
    transform: scale(0) translate(-35em, 0.0em);
    z-index: 0;
  }

  #scrollpage .planet.scalehide-7 {
    -moz-transform: scale(3.5) translate(-15em, -35em);
    -webkit-transform: scale(3.5) translate(-15em, -35em);
    -o-transform: scale(3.5) translate(-15em, -35em);
    -ms-transform: scale(3.5) translate(-15em, -35em);
    transform: scale(3.5) translate(-15em, -35em);
  }

  #scrollpage .planet.scaleshow-7 {
    -moz-transform: scale(0) translate(-35em, 0.0em);
    -webkit-transform: scale(0) translate(-35em, 0.0em);
    -o-transform: scale(0) translate(-35em, 0.0em);
    -ms-transform: scale(0) translate(-35em, 0.0em);
    transform: scale(0) translate(-35em, 0.0em);
  }

  .planet a.spec-0 {
    top: 275px;
    left: 490px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-1 {
    top: 419.007px;
    left: 443.209px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-2 {
    top: 508.009px;
    left: 320.709px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-3 {
    top: 508.009px;
    right: 320.709px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-3::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-4 {
    top: 419.007px;
    right: 443.209px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-4::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-5 {
    top: 275.0px;
    right: 490px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-5::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-6 {
    top: 130.993px;
    right: 443.209px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-6::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-7 {
    top: 41.991px;
    right: 320.709px;
    padding: 0 40px 0 0;
    text-align: right;
  }
  .planet a.spec-7::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-8 {
    top: 41.991px;
    left: 320.709px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-9 {
    top: 130.993px;
    left: 443.209px;
    padding: 0 0 0 40px;
  }

  .planet a.spec-10 {
    top: 275.0px;
    left: 490px;
    padding: 0 0 0 40px;
  }

  .aside {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6cc7eb), color-stop(2%, rgba(0, 0, 0, 0.5)), color-stop(98%, rgba(0, 0, 0, 0.5)), color-stop(100%, #6cc7eb));
    background-image: -webkit-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -moz-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -o-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -ms-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
  }

  .aside::before {
    position: absolute;
    right: 0em;
    left: 0em;
    top: 0;
    height: 5px;
    content: "";
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(5%, rgba(108, 199, 235, 0)), color-stop(10%, #6cc7eb), color-stop(90%, #6cc7eb), color-stop(95%, rgba(108, 199, 235, 0)));
    background-image: -webkit-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -moz-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -o-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -ms-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
  }

  .aside a:hover::after,
  .aside a.active::after {
    position: absolute;
    top: -1.18em;
    height: 5px;
    left: 0;
    right: 0;
    background: yellow;
    content: "";
  }

  .planet {
    height: 550px;
  }
  .planet div {
    width: 550px;
  }
  .planet p {
    border-radius: 550px;
    box-shadow: 0 0 0.5em 0.25em #5e1100;
    background-size: 120% 120%;
  }
  .planet a {
    font-size: 1.5em;
  }
  .planet h2 {
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
  }
  .planet h2, .planet a {
    text-shadow: 1px 1px 2px #000;
  }

  [data-skin="0"] p {
    box-shadow: 0 0 0.5em 0.25em #5e1100;
  }

  [data-skin="1"] p {
    box-shadow: 0 0 0.5em 0.25em #354c7b;
  }

  [data-skin="2"] p {
    box-shadow: 0 0 0.5em 0.25em slategray;
  }

  [data-skin="3"] p {
    box-shadow: 0 0 0.5em 0.25em #47463a;
  }
}
