@charset "UTF-8";
html {
  background-color: #000;
  background: url("../images/bg-2.png") black;
  color: #fff;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  margin: 0;
}

html, body {
  height: 100%;
}

#scrollpage {
  background: url("../images/bg-4-small.png") center center no-repeat fixed, url("../image/bg-3-small.png") fixed center center no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

h2 {
  font-family: sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}

.aside {
  position: fixed;
  bottom: 0;
  left: 1em;
  right: 1em;
  padding: 1em 0;
  z-index: 4;
  text-align: center;
}

.aside a {
  padding: 0 1em;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9em;
}

.aside a:hover, aside a.active {
  color: yellow;
}

.planet {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
}
.planet.active h2, .planet.active p a {
  opacity: 1;
}
.planet h2, .planet p a {
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.planet div {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.planet p {
  background: url(../images/planet-1.png) no-repeat center center;
  height: 100%;
  width: 100%;
  border-radius: 300px;
  position: relative;
}

#scrollpage {
  -moz-transform: translate(80rem, 0);
  -webkit-transform: translate(80rem, 0);
  -o-transform: translate(80rem, 0);
  -ms-transform: translate(80rem, 0);
  transform: translate(80rem, 0);
}

.scale-0 {
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.planet:nth-child(1) {
  -moz-transform: scale(0.8) translate(-40rem, 0);
  -webkit-transform: scale(0.8) translate(-40rem, 0);
  -o-transform: scale(0.8) translate(-40rem, 0);
  -ms-transform: scale(0.8) translate(-40rem, 0);
  transform: scale(0.8) translate(-40rem, 0);
  z-index: 8;
}

.planet.scalehide-0 {
  -moz-transform: scale(8) translate(-40rem, 0rem);
  -webkit-transform: scale(8) translate(-40rem, 0rem);
  -o-transform: scale(8) translate(-40rem, 0rem);
  -ms-transform: scale(8) translate(-40rem, 0rem);
  transform: scale(8) translate(-40rem, 0rem);
}

.planet.scaleshow-0 {
  -moz-transform: scale(0) translate(0rem, 0);
  -webkit-transform: scale(0) translate(0rem, 0);
  -o-transform: scale(0) translate(0rem, 0);
  -ms-transform: scale(0) translate(0rem, 0);
  transform: scale(0) translate(0rem, 0);
}

.scale-1 {
  -moz-transform: scale(0.55);
  -webkit-transform: scale(0.55);
  -o-transform: scale(0.55);
  -ms-transform: scale(0.55);
  transform: scale(0.55);
}

.planet:nth-child(2) {
  -moz-transform: scale(0.7) translate(-35rem, 0);
  -webkit-transform: scale(0.7) translate(-35rem, 0);
  -o-transform: scale(0.7) translate(-35rem, 0);
  -ms-transform: scale(0.7) translate(-35rem, 0);
  transform: scale(0.7) translate(-35rem, 0);
  z-index: 7;
}

.planet.scalehide-1 {
  -moz-transform: scale(9) translate(-45rem, 5rem);
  -webkit-transform: scale(9) translate(-45rem, 5rem);
  -o-transform: scale(9) translate(-45rem, 5rem);
  -ms-transform: scale(9) translate(-45rem, 5rem);
  transform: scale(9) translate(-45rem, 5rem);
}

.planet.scaleshow-1 {
  -moz-transform: scale(0.1) translate(-5rem, 0);
  -webkit-transform: scale(0.1) translate(-5rem, 0);
  -o-transform: scale(0.1) translate(-5rem, 0);
  -ms-transform: scale(0.1) translate(-5rem, 0);
  transform: scale(0.1) translate(-5rem, 0);
}

.scale-2 {
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.planet:nth-child(3) {
  -moz-transform: scale(0.6) translate(-30rem, 0);
  -webkit-transform: scale(0.6) translate(-30rem, 0);
  -o-transform: scale(0.6) translate(-30rem, 0);
  -ms-transform: scale(0.6) translate(-30rem, 0);
  transform: scale(0.6) translate(-30rem, 0);
  z-index: 6;
}

.planet.scalehide-2 {
  -moz-transform: scale(10) translate(-50rem, 10rem);
  -webkit-transform: scale(10) translate(-50rem, 10rem);
  -o-transform: scale(10) translate(-50rem, 10rem);
  -ms-transform: scale(10) translate(-50rem, 10rem);
  transform: scale(10) translate(-50rem, 10rem);
}

.planet.scaleshow-2 {
  -moz-transform: scale(0.2) translate(-10rem, 0);
  -webkit-transform: scale(0.2) translate(-10rem, 0);
  -o-transform: scale(0.2) translate(-10rem, 0);
  -ms-transform: scale(0.2) translate(-10rem, 0);
  transform: scale(0.2) translate(-10rem, 0);
}

.scale-3 {
  -moz-transform: scale(0.65);
  -webkit-transform: scale(0.65);
  -o-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
}

.planet:nth-child(4) {
  -moz-transform: scale(0.5) translate(-25rem, 0);
  -webkit-transform: scale(0.5) translate(-25rem, 0);
  -o-transform: scale(0.5) translate(-25rem, 0);
  -ms-transform: scale(0.5) translate(-25rem, 0);
  transform: scale(0.5) translate(-25rem, 0);
  z-index: 5;
}

.planet.scalehide-3 {
  -moz-transform: scale(11) translate(-55rem, 15rem);
  -webkit-transform: scale(11) translate(-55rem, 15rem);
  -o-transform: scale(11) translate(-55rem, 15rem);
  -ms-transform: scale(11) translate(-55rem, 15rem);
  transform: scale(11) translate(-55rem, 15rem);
}

.planet.scaleshow-3 {
  -moz-transform: scale(0.3) translate(-15rem, 0);
  -webkit-transform: scale(0.3) translate(-15rem, 0);
  -o-transform: scale(0.3) translate(-15rem, 0);
  -ms-transform: scale(0.3) translate(-15rem, 0);
  transform: scale(0.3) translate(-15rem, 0);
}

.scale-4 {
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.planet:nth-child(5) {
  -moz-transform: scale(0.4) translate(-20rem, 0);
  -webkit-transform: scale(0.4) translate(-20rem, 0);
  -o-transform: scale(0.4) translate(-20rem, 0);
  -ms-transform: scale(0.4) translate(-20rem, 0);
  transform: scale(0.4) translate(-20rem, 0);
  z-index: 4;
}

.planet.scalehide-4 {
  -moz-transform: scale(12) translate(-60rem, 20rem);
  -webkit-transform: scale(12) translate(-60rem, 20rem);
  -o-transform: scale(12) translate(-60rem, 20rem);
  -ms-transform: scale(12) translate(-60rem, 20rem);
  transform: scale(12) translate(-60rem, 20rem);
}

.planet.scaleshow-4 {
  -moz-transform: scale(0.4) translate(-20rem, 0);
  -webkit-transform: scale(0.4) translate(-20rem, 0);
  -o-transform: scale(0.4) translate(-20rem, 0);
  -ms-transform: scale(0.4) translate(-20rem, 0);
  transform: scale(0.4) translate(-20rem, 0);
}

.scale-5 {
  -moz-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

.planet:nth-child(6) {
  -moz-transform: scale(0.3) translate(-15rem, 0);
  -webkit-transform: scale(0.3) translate(-15rem, 0);
  -o-transform: scale(0.3) translate(-15rem, 0);
  -ms-transform: scale(0.3) translate(-15rem, 0);
  transform: scale(0.3) translate(-15rem, 0);
  z-index: 3;
}

.planet.scalehide-5 {
  -moz-transform: scale(13) translate(-65rem, 25rem);
  -webkit-transform: scale(13) translate(-65rem, 25rem);
  -o-transform: scale(13) translate(-65rem, 25rem);
  -ms-transform: scale(13) translate(-65rem, 25rem);
  transform: scale(13) translate(-65rem, 25rem);
}

.planet.scaleshow-5 {
  -moz-transform: scale(0.5) translate(-25rem, 0);
  -webkit-transform: scale(0.5) translate(-25rem, 0);
  -o-transform: scale(0.5) translate(-25rem, 0);
  -ms-transform: scale(0.5) translate(-25rem, 0);
  transform: scale(0.5) translate(-25rem, 0);
}

.scale-6 {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.planet:nth-child(7) {
  -moz-transform: scale(0.2) translate(-10rem, 0);
  -webkit-transform: scale(0.2) translate(-10rem, 0);
  -o-transform: scale(0.2) translate(-10rem, 0);
  -ms-transform: scale(0.2) translate(-10rem, 0);
  transform: scale(0.2) translate(-10rem, 0);
  z-index: 2;
}

.planet.scalehide-6 {
  -moz-transform: scale(14) translate(-70rem, 30rem);
  -webkit-transform: scale(14) translate(-70rem, 30rem);
  -o-transform: scale(14) translate(-70rem, 30rem);
  -ms-transform: scale(14) translate(-70rem, 30rem);
  transform: scale(14) translate(-70rem, 30rem);
}

.planet.scaleshow-6 {
  -moz-transform: scale(0.6) translate(-30rem, 0);
  -webkit-transform: scale(0.6) translate(-30rem, 0);
  -o-transform: scale(0.6) translate(-30rem, 0);
  -ms-transform: scale(0.6) translate(-30rem, 0);
  transform: scale(0.6) translate(-30rem, 0);
}

.scale-7 {
  -moz-transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.planet:nth-child(8) {
  -moz-transform: scale(0.1) translate(-5rem, 0);
  -webkit-transform: scale(0.1) translate(-5rem, 0);
  -o-transform: scale(0.1) translate(-5rem, 0);
  -ms-transform: scale(0.1) translate(-5rem, 0);
  transform: scale(0.1) translate(-5rem, 0);
  z-index: 1;
}

.planet.scalehide-7 {
  -moz-transform: scale(15) translate(-75rem, 35rem);
  -webkit-transform: scale(15) translate(-75rem, 35rem);
  -o-transform: scale(15) translate(-75rem, 35rem);
  -ms-transform: scale(15) translate(-75rem, 35rem);
  transform: scale(15) translate(-75rem, 35rem);
}

.planet.scaleshow-7 {
  -moz-transform: scale(0.7) translate(-35rem, 0);
  -webkit-transform: scale(0.7) translate(-35rem, 0);
  -o-transform: scale(0.7) translate(-35rem, 0);
  -ms-transform: scale(0.7) translate(-35rem, 0);
  transform: scale(0.7) translate(-35rem, 0);
}

.scale-8 {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.planet:nth-child(9) {
  -moz-transform: scale(0) translate(0rem, 0);
  -webkit-transform: scale(0) translate(0rem, 0);
  -o-transform: scale(0) translate(0rem, 0);
  -ms-transform: scale(0) translate(0rem, 0);
  transform: scale(0) translate(0rem, 0);
  z-index: 0;
}

.planet.scalehide-8 {
  -moz-transform: scale(16) translate(-80rem, 40rem);
  -webkit-transform: scale(16) translate(-80rem, 40rem);
  -o-transform: scale(16) translate(-80rem, 40rem);
  -ms-transform: scale(16) translate(-80rem, 40rem);
  transform: scale(16) translate(-80rem, 40rem);
}

.planet.scaleshow-8 {
  -moz-transform: scale(0.8) translate(-40rem, 0);
  -webkit-transform: scale(0.8) translate(-40rem, 0);
  -o-transform: scale(0.8) translate(-40rem, 0);
  -ms-transform: scale(0.8) translate(-40rem, 0);
  transform: scale(0.8) translate(-40rem, 0);
}

.planet a.spec-0 {
  top: 150px;
  left: 240px;
}

.planet a.spec-1 {
  top: 220.534px;
  left: 217.082px;
}

.planet a.spec-2 {
  top: 264.127px;
  left: 157.082px;
}

.planet a.spec-3 {
  top: 264.127px;
  right: 157.082px;
  padding: 0 40px 0 0;
}
.planet a.spec-3::before {
  left: auto;
  right: 0;
}

.planet a.spec-4 {
  top: 220.534px;
  right: 217.082px;
  padding: 0 40px 0 0;
}
.planet a.spec-4::before {
  left: auto;
  right: 0;
}

.planet a.spec-5 {
  top: 150.0px;
  right: 240px;
  padding: 0 40px 0 0;
}
.planet a.spec-5::before {
  left: auto;
  right: 0;
}

.planet a.spec-6 {
  top: 79.466px;
  right: 217.082px;
  padding: 0 40px 0 0;
}
.planet a.spec-6::before {
  left: auto;
  right: 0;
}

.planet a.spec-7 {
  top: 35.873px;
  right: 157.082px;
  padding: 0 40px 0 0;
}
.planet a.spec-7::before {
  left: auto;
  right: 0;
}

.planet a.spec-8 {
  top: 35.873px;
  left: 157.082px;
}

.planet a.spec-9 {
  top: 79.466px;
  left: 217.082px;
}

.planet a.spec-10 {
  top: 150.0px;
  left: 240px;
}

[data-skin="4"] p, [data-skin="0"] p {
  background-image: url(../images/planet-2.png);
}

[data-skin="2"] p {
  background-image: url(../images/planet-3.png);
}

[data-skin="1"] p {
  background-image: url(../images/planet-4.png);
}

.planet h2 {
  font-size: 2em;
  margin: 0;
  display: table;
  letter-spacing: 0.15em;
  line-height: 1em;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}
.planet h2 b {
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-word;
}

.planet a {
  position: absolute;
  display: block;
  padding-left: 40px;
  line-height: 1;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: -16px;
  z-index: 3;
}

.planet a::before {
  content: '•';
  font-size: 80px;
  line-height: 1px;
  position: absolute;
  top: 16px;
  left: 0;
  color: black;
  text-shadow: none;
  display: block;
}

@media (min-height: 600px) {
  html {
    background: url("../images/bg-3.png") center center fixed, url("../images/bg-2.png") 0px 0px fixed, url("../images/bg-2.png") -85px 65px fixed, url(../images/broken_noise.png), black;
  }

  #parallax {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("../images/bg-4.png") center center no-repeat;
    display: block;
    -moz-transition: all 5s linear;
    -webkit-transition: all 5s linear;
    -o-transition: all 5s linear;
    transition: all 5s linear;
  }

  #scrollpage {
    margin-top: -275px;
  }

  .planet {
    height: 550px;
    text-shadow: 1px 1px 2px #000;
  }

  #scrollpage {
    -moz-transform: translate(80rem, 0);
    -webkit-transform: translate(80rem, 0);
    -o-transform: translate(80rem, 0);
    -ms-transform: translate(80rem, 0);
    transform: translate(80rem, 0);
  }

  .scale-0 {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }

  .planet:nth-child(1) {
    -moz-transform: scale(0.8) translate(-80rem, 0);
    -webkit-transform: scale(0.8) translate(-80rem, 0);
    -o-transform: scale(0.8) translate(-80rem, 0);
    -ms-transform: scale(0.8) translate(-80rem, 0);
    transform: scale(0.8) translate(-80rem, 0);
    z-index: 8;
  }

  .planet.scalehide-0 {
    -moz-transform: scale(8) translate(-80rem, 0rem);
    -webkit-transform: scale(8) translate(-80rem, 0rem);
    -o-transform: scale(8) translate(-80rem, 0rem);
    -ms-transform: scale(8) translate(-80rem, 0rem);
    transform: scale(8) translate(-80rem, 0rem);
  }

  .planet.scaleshow-0 {
    -moz-transform: scale(0) translate(0rem, 0);
    -webkit-transform: scale(0) translate(0rem, 0);
    -o-transform: scale(0) translate(0rem, 0);
    -ms-transform: scale(0) translate(0rem, 0);
    transform: scale(0) translate(0rem, 0);
  }

  .scale-1 {
    -moz-transform: scale(0.55);
    -webkit-transform: scale(0.55);
    -o-transform: scale(0.55);
    -ms-transform: scale(0.55);
    transform: scale(0.55);
  }

  .planet:nth-child(2) {
    -moz-transform: scale(0.7) translate(-70rem, 0);
    -webkit-transform: scale(0.7) translate(-70rem, 0);
    -o-transform: scale(0.7) translate(-70rem, 0);
    -ms-transform: scale(0.7) translate(-70rem, 0);
    transform: scale(0.7) translate(-70rem, 0);
    z-index: 7;
  }

  .planet.scalehide-1 {
    -moz-transform: scale(9) translate(-90rem, 10rem);
    -webkit-transform: scale(9) translate(-90rem, 10rem);
    -o-transform: scale(9) translate(-90rem, 10rem);
    -ms-transform: scale(9) translate(-90rem, 10rem);
    transform: scale(9) translate(-90rem, 10rem);
  }

  .planet.scaleshow-1 {
    -moz-transform: scale(0.1) translate(-10rem, 0);
    -webkit-transform: scale(0.1) translate(-10rem, 0);
    -o-transform: scale(0.1) translate(-10rem, 0);
    -ms-transform: scale(0.1) translate(-10rem, 0);
    transform: scale(0.1) translate(-10rem, 0);
  }

  .scale-2 {
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  .planet:nth-child(3) {
    -moz-transform: scale(0.6) translate(-60rem, 0);
    -webkit-transform: scale(0.6) translate(-60rem, 0);
    -o-transform: scale(0.6) translate(-60rem, 0);
    -ms-transform: scale(0.6) translate(-60rem, 0);
    transform: scale(0.6) translate(-60rem, 0);
    z-index: 6;
  }

  .planet.scalehide-2 {
    -moz-transform: scale(10) translate(-100rem, 20rem);
    -webkit-transform: scale(10) translate(-100rem, 20rem);
    -o-transform: scale(10) translate(-100rem, 20rem);
    -ms-transform: scale(10) translate(-100rem, 20rem);
    transform: scale(10) translate(-100rem, 20rem);
  }

  .planet.scaleshow-2 {
    -moz-transform: scale(0.2) translate(-20rem, 0);
    -webkit-transform: scale(0.2) translate(-20rem, 0);
    -o-transform: scale(0.2) translate(-20rem, 0);
    -ms-transform: scale(0.2) translate(-20rem, 0);
    transform: scale(0.2) translate(-20rem, 0);
  }

  .scale-3 {
    -moz-transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -o-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
  }

  .planet:nth-child(4) {
    -moz-transform: scale(0.5) translate(-50rem, 0);
    -webkit-transform: scale(0.5) translate(-50rem, 0);
    -o-transform: scale(0.5) translate(-50rem, 0);
    -ms-transform: scale(0.5) translate(-50rem, 0);
    transform: scale(0.5) translate(-50rem, 0);
    z-index: 5;
  }

  .planet.scalehide-3 {
    -moz-transform: scale(11) translate(-110rem, 30rem);
    -webkit-transform: scale(11) translate(-110rem, 30rem);
    -o-transform: scale(11) translate(-110rem, 30rem);
    -ms-transform: scale(11) translate(-110rem, 30rem);
    transform: scale(11) translate(-110rem, 30rem);
  }

  .planet.scaleshow-3 {
    -moz-transform: scale(0.3) translate(-30rem, 0);
    -webkit-transform: scale(0.3) translate(-30rem, 0);
    -o-transform: scale(0.3) translate(-30rem, 0);
    -ms-transform: scale(0.3) translate(-30rem, 0);
    transform: scale(0.3) translate(-30rem, 0);
  }

  .scale-4 {
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  .planet:nth-child(5) {
    -moz-transform: scale(0.4) translate(-40rem, 0);
    -webkit-transform: scale(0.4) translate(-40rem, 0);
    -o-transform: scale(0.4) translate(-40rem, 0);
    -ms-transform: scale(0.4) translate(-40rem, 0);
    transform: scale(0.4) translate(-40rem, 0);
    z-index: 4;
  }

  .planet.scalehide-4 {
    -moz-transform: scale(12) translate(-120rem, 40rem);
    -webkit-transform: scale(12) translate(-120rem, 40rem);
    -o-transform: scale(12) translate(-120rem, 40rem);
    -ms-transform: scale(12) translate(-120rem, 40rem);
    transform: scale(12) translate(-120rem, 40rem);
  }

  .planet.scaleshow-4 {
    -moz-transform: scale(0.4) translate(-40rem, 0);
    -webkit-transform: scale(0.4) translate(-40rem, 0);
    -o-transform: scale(0.4) translate(-40rem, 0);
    -ms-transform: scale(0.4) translate(-40rem, 0);
    transform: scale(0.4) translate(-40rem, 0);
  }

  .scale-5 {
    -moz-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -o-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }

  .planet:nth-child(6) {
    -moz-transform: scale(0.3) translate(-30rem, 0);
    -webkit-transform: scale(0.3) translate(-30rem, 0);
    -o-transform: scale(0.3) translate(-30rem, 0);
    -ms-transform: scale(0.3) translate(-30rem, 0);
    transform: scale(0.3) translate(-30rem, 0);
    z-index: 3;
  }

  .planet.scalehide-5 {
    -moz-transform: scale(13) translate(-130rem, 50rem);
    -webkit-transform: scale(13) translate(-130rem, 50rem);
    -o-transform: scale(13) translate(-130rem, 50rem);
    -ms-transform: scale(13) translate(-130rem, 50rem);
    transform: scale(13) translate(-130rem, 50rem);
  }

  .planet.scaleshow-5 {
    -moz-transform: scale(0.5) translate(-50rem, 0);
    -webkit-transform: scale(0.5) translate(-50rem, 0);
    -o-transform: scale(0.5) translate(-50rem, 0);
    -ms-transform: scale(0.5) translate(-50rem, 0);
    transform: scale(0.5) translate(-50rem, 0);
  }

  .scale-6 {
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  .planet:nth-child(7) {
    -moz-transform: scale(0.2) translate(-20rem, 0);
    -webkit-transform: scale(0.2) translate(-20rem, 0);
    -o-transform: scale(0.2) translate(-20rem, 0);
    -ms-transform: scale(0.2) translate(-20rem, 0);
    transform: scale(0.2) translate(-20rem, 0);
    z-index: 2;
  }

  .planet.scalehide-6 {
    -moz-transform: scale(14) translate(-140rem, 60rem);
    -webkit-transform: scale(14) translate(-140rem, 60rem);
    -o-transform: scale(14) translate(-140rem, 60rem);
    -ms-transform: scale(14) translate(-140rem, 60rem);
    transform: scale(14) translate(-140rem, 60rem);
  }

  .planet.scaleshow-6 {
    -moz-transform: scale(0.6) translate(-60rem, 0);
    -webkit-transform: scale(0.6) translate(-60rem, 0);
    -o-transform: scale(0.6) translate(-60rem, 0);
    -ms-transform: scale(0.6) translate(-60rem, 0);
    transform: scale(0.6) translate(-60rem, 0);
  }

  .scale-7 {
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .planet:nth-child(8) {
    -moz-transform: scale(0.1) translate(-10rem, 0);
    -webkit-transform: scale(0.1) translate(-10rem, 0);
    -o-transform: scale(0.1) translate(-10rem, 0);
    -ms-transform: scale(0.1) translate(-10rem, 0);
    transform: scale(0.1) translate(-10rem, 0);
    z-index: 1;
  }

  .planet.scalehide-7 {
    -moz-transform: scale(15) translate(-150rem, 70rem);
    -webkit-transform: scale(15) translate(-150rem, 70rem);
    -o-transform: scale(15) translate(-150rem, 70rem);
    -ms-transform: scale(15) translate(-150rem, 70rem);
    transform: scale(15) translate(-150rem, 70rem);
  }

  .planet.scaleshow-7 {
    -moz-transform: scale(0.7) translate(-70rem, 0);
    -webkit-transform: scale(0.7) translate(-70rem, 0);
    -o-transform: scale(0.7) translate(-70rem, 0);
    -ms-transform: scale(0.7) translate(-70rem, 0);
    transform: scale(0.7) translate(-70rem, 0);
  }

  .scale-8 {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .planet:nth-child(9) {
    -moz-transform: scale(0) translate(0rem, 0);
    -webkit-transform: scale(0) translate(0rem, 0);
    -o-transform: scale(0) translate(0rem, 0);
    -ms-transform: scale(0) translate(0rem, 0);
    transform: scale(0) translate(0rem, 0);
    z-index: 0;
  }

  .planet.scalehide-8 {
    -moz-transform: scale(16) translate(-160rem, 80rem);
    -webkit-transform: scale(16) translate(-160rem, 80rem);
    -o-transform: scale(16) translate(-160rem, 80rem);
    -ms-transform: scale(16) translate(-160rem, 80rem);
    transform: scale(16) translate(-160rem, 80rem);
  }

  .planet.scaleshow-8 {
    -moz-transform: scale(0.8) translate(-80rem, 0);
    -webkit-transform: scale(0.8) translate(-80rem, 0);
    -o-transform: scale(0.8) translate(-80rem, 0);
    -ms-transform: scale(0.8) translate(-80rem, 0);
    transform: scale(0.8) translate(-80rem, 0);
  }

  .planet a.spec-0 {
    top: 275px;
    left: 490px;
  }

  .planet a.spec-1 {
    top: 419.007px;
    left: 443.209px;
  }

  .planet a.spec-2 {
    top: 508.009px;
    left: 320.709px;
  }

  .planet a.spec-3 {
    top: 508.009px;
    right: 320.709px;
    padding: 0 40px 0 0;
  }
  .planet a.spec-3::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-4 {
    top: 419.007px;
    right: 443.209px;
    padding: 0 40px 0 0;
  }
  .planet a.spec-4::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-5 {
    top: 275.0px;
    right: 490px;
    padding: 0 40px 0 0;
  }
  .planet a.spec-5::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-6 {
    top: 130.993px;
    right: 443.209px;
    padding: 0 40px 0 0;
  }
  .planet a.spec-6::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-7 {
    top: 41.991px;
    right: 320.709px;
    padding: 0 40px 0 0;
  }
  .planet a.spec-7::before {
    left: auto;
    right: 0;
  }

  .planet a.spec-8 {
    top: 41.991px;
    left: 320.709px;
  }

  .planet a.spec-9 {
    top: 130.993px;
    left: 443.209px;
  }

  .planet a.spec-10 {
    top: 275.0px;
    left: 490px;
  }

  .planet h2 {
    font-size: 6em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0;
  }

  .aside {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6cc7eb), color-stop(2%, rgba(0, 0, 0, 0.5)), color-stop(98%, rgba(0, 0, 0, 0.5)), color-stop(100%, #6cc7eb));
    background-image: -webkit-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -moz-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -o-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: -ms-linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
    background-image: linear-gradient(#6cc7eb, rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, #6cc7eb);
  }

  .aside::before {
    position: absolute;
    right: 1em;
    left: 1em;
    top: 0;
    height: 5px;
    content: "";
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(5%, rgba(108, 199, 235, 0)), color-stop(10%, #6cc7eb), color-stop(90%, #6cc7eb), color-stop(95%, rgba(108, 199, 235, 0)));
    background-image: -webkit-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -moz-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -o-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: -ms-linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
    background-image: linear-gradient(left, rgba(108, 199, 235, 0) 5%, #6cc7eb 10%, #6cc7eb 90%, rgba(108, 199, 235, 0) 95%);
  }

  .aside a:hover::after,
  .aside a.active::after {
    position: absolute;
    top: -1.18em;
    height: 5px;
    left: 0;
    right: 0;
    background: yellow;
    content: "";
  }

  .planet div {
    width: 550px;
  }
  .planet p {
    border-radius: 550px;
    box-shadow: 0 0 0.5em 0.25em #5e1100;
    background-size: 120% 120%;
  }
  .planet a {
    font-size: 2em;
  }

  [data-skin="4"] p, [data-skin="0"] p {
    box-shadow: 0 0 0.5em 0.25em #354c7b;
  }

  [data-skin="2"] p {
    box-shadow: 0 0 0.5em 0.25em slategray;
  }

  [data-skin="1"] p {
    box-shadow: 0 0 0.5em 0.25em #47463a;
  }
}
