@import url(./fonts/josefin_slab/stylesheet.css);
@import url(./fonts/bitstreamvera/stylesheet.css);

*{margin: 0; padding: 0}

html{height: 100%;}

body{
	height: 100%;
	font: .9em / 1 'BitstreamVeraSerifRoman',serif;
	background: url(images/squidfingers_dot_com_pattern_038.gif);
	position: relative;
	overflow-x: hidden;
}

a:link{color: #c60;}
a:visited{color: #c90;}
a:hover, a:active{color: #c30;}

header{display:block;}

#loader{
	position:absolute;
	background: url(images/ajax-loader.gif) center no-repeat;
	width: 100%;
	height: 100%;
}

h1{
	font: normal 64px / 1 'JosefinSlabBold';
	padding: 20px 20px 0 20px;
	margin:0;
	letter-spacing: -.05em;
}
header > p{padding: 0px 20px;}

#container{
	margin: 0em 2em;
	background: rgba(255,255,255,.6);
	height: 115%;
	position: relative;
	z-index: 0;
    top: 0;
}

#container.loading{top: -1000px;}

#photostack{
	top:0;
	position:relative;
	margin: 3em auto 0 auto;
	background:#3cf;
	width:90%;
}

section, .leadPhoto .close, #container{
         -o-transition-duration: 500ms;
	-webkit-transition-duration: 500ms;
       -moz-transition-duration: 500ms;
        -ms-transition-duration: 500ms;
            transition-duration: 500ms;

         -o-transition-timing-function: linear;
	-webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
        -ms-transition-timing-function: linear;
            transition-timing-function: linear;
}

section{
	border-width: 1px;
	border-color: rgba(0,0,0,.2);
	border-top-color: #e6e6e6;
	border-left-color: #e6e6e6;
	border-style: outset;
	position: absolute;
	background: #fff;
	margin: 0 -10px;
	cursor: pointer;
	z-index:auto;
	display:block;

	   -o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
	        transform-origin: 100% 100%;

	    -o-transition-property: transform, left, top;
	-webkit-transition-property: transform, left, top;
       -moz-transition-property: transform, left, top;
        -ms-transition-property: transform, left, top;
            transition-property: transform, left, top;

}

section p{line-height: 1.3; border: 10px solid #fff;}

section:first-child{
	     -o-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	   -moz-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
	        transform: rotate(15deg);
}

section:nth-child(2), section:nth-child(6){
         -o-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
}

section:nth-child(3){
          -o-transform: rotate(-5deg);
     -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
         -ms-transform: rotate(-5deg);
             transform: rotate(-5deg);
}

section:nth-child(4){
         -o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
}

section:nth-child(5){
         -o-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
            transform: rotate(20deg);
}

section:nth-child(7){
	     -o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
       -moz-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
            transform: rotate(-1deg);
}

section:nth-child(8){
	     -o-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
       -moz-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
            transform: rotate(3deg);
}

section:nth-child(9){
	     -o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
       -moz-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
}

section:nth-child(10){
	     -o-transform: rotate(-8deg);
	-webkit-transform: rotate(-8deg);
       -moz-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
            transform: rotate(-8deg);
}

section img{
	display: block;
	width:   100%;
	margin: 0 0 10px 0;
}


section:hover{
	     -o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
	          z-index: 9998;
}

section.leadPhoto{
	z-index: 9999;
	cursor: default;
	box-shadow: 0 0 30px rgba(0,0,0,.7);

	     -o-transform: scale(1.5);
	-webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}

.close{
	font-family: sans-serif;
	background: transparent url(images/close.png) 2px 2px no-repeat;
	width:40px;
	height:40px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0px;
	right: -10px;
	line-height: .9;
	border-radius: 20px;
	opacity: 0;
	font-size: 8pt;
	padding: 4px 2px 2px 2px;
	text-indent: -9999px;
	cursor: pointer
}

.leadPhoto .close{
    opacity: 1;

	     -o-transition-property: opacity;
	-webkit-transition-property: opacity;
       -moz-transition-property: opacity;
        -ms-transition-property: opacity;
            transition-property: opacity;
}

#overlay{
	background-color: rgba(0,0,0,.5);
	position: fixed;
	z-index: 9997;
	left: -2000px;
	top:  -2000px;
	width:  4000px;
	height: 4000px;
}

#overlay:hover{cursor: pointer;}

.hide{display: none;}

footer{
	font-size: .5em;
	color: #666;
	display: block;
	margin: 0;
	position: absolute;
	bottom:0;
}

footer p{
	margin: 0 20px 0 20px;
	padding-bottom: 1em;
	line-height: 1.5
}
footer img{
	float: left;
	vertical-align: text-bottom;
	display: block;
	margin-right: .5em;
}

/*
first-child: Chinatown
2: banff
3: djem el fna
4: montserrat vertical.
5: ben yussef
6: kananaskis
7: montserrat horizontal.
8: barcelona
9: saba
10: essaouira

*/

/* For iPad sized devices */
@media screen and (min-width: 768px){

	section{width: 175px;}
	section.vert{width: 126px;}

	section:first-child{
		left: 0;
		top:  0;
		border: 2px dashed #f60 /* china town */
	}
	section:nth-child(2){
		left: 0px;
		top: 0px;
		border: 2px dashed #606 /* banff */
	}
	section:nth-child(3){
		left: 0;
		top: 0px;
		border: 2px dashed #0c0; /* djem elfna */
	}
	section:nth-child(4){
		left: 100px;
		top: 55px;
		border: 2px dashed #03f; /* montserrat vert */
	}
	section:nth-child(5){
		left: 150px;
		top: 5px;
		border: 2px dashed #030;
	}
	section:nth-child(6){
		left: 200px;
		top:  145px;
		border: 2px dashed #9f0;
	}
	section:nth-child(7){
		left: 300px;
		top:   80px;
		border: 2px dashed #c09;
	}
	section:nth-child(8){
		left: 390px;
		top:    0px;
		border: 2px dashed #c00; /* barcelona */

	}
	section:nth-child(9){
		left: 400px;
		top:   20px;
		border: 2px dashed #ff0;
	}
	section:nth-child(10){
		left: 450px;
		top:   85px;
		border: 2px dashed #39f;
	}
	.loaded section.leadPhoto{
		left: 50%;
		top: 80px;
	}
}

/* For computer sized devices */
@media screen and (min-width: 1025px){
	section{width: 250px;}
	section.vert{width: 180px;}

	section:first-child{
		left: 0px;
		top: 70px;
	}
	section:nth-child(2){
		left: 90px;
		top: 0px;
	}
	section:nth-child(3){
		left: 10px;
		top: 80px;
	}
	section:nth-child(4){
		left: 400px;
		top:   55px;
	}
	section:nth-child(5){
		left: 250px;
		top:   25px;
	}
	section:nth-child(6){
		left: 600px;
		top:    0px;
	}
	section:nth-child(7){
		left: 605px;
		top:   90px;
	}
	section:nth-child(8){
		left: 700px;
		top: 0px;
	}
	section:nth-child(9){
		left: 750px;
		top: 30px;
	}
	section:nth-child(10){
		left: 450px;
		top: 105px;
	}

	.loaded section.leadPhoto{
		left: 50%;
		top: 100px;
	}
}