@import url(./fonts/josefin_slab/stylesheet.css);
@import url(./fonts/bitstreamvera/stylesheet.css);

*{margin:0; padding:0}

html{height:100%;}

body{
	height: 100%;
	font: .9em / 1 'BitstreamVeraSerifRoman',serif;
	background: url(images/squidfingers_dot_com_pattern_038.gif);
	position:relative;
	overflow-x: hidden;
}

a:link{ color: #c60; }
a:visited{ color: #c90; }
a:hover, a:active{ color: #c30; }


h1{
	font: normal 64px / 1 'JosefinSlabBold';
	padding:20px 20px 0 20px;
	letter-spacing:-.05em;
}

#container{
	margin:0em 2em;
	background: rgba(255,255,255,.8);
	height:100%;
	position:relative;
	z-index:0;
}

#container.loading{
	background-image: url(images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
}

#container > p{padding: 0px 20px;}

.loaded #photostack{
	-o-transition-property: top, transform;
	-o-transition-duration: 500ms;
	-o-transition-timing-function:ease-in-out;
	-o-transform: skew(0deg);

	-webkit-transition-property: top, transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function:ease-in-out;
	-webkit-transform: skew(0deg);

	-moz-transition-property: top, transform;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function:ease-in-out;
	-moz-transform: skew(0deg);

	-ms-transition-property: top, transform;
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function:ease-in-out;
	-ms-transform: skew(0deg);

	transition-property: top, transform;
	transition-duration: 500ms;
	transition-timing-function:ease-in-out;
	transform: skew(0deg);

	top:0;
}

section{
	-o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	position:absolute;
	background: #fff;
	margin:0 -10px;
	float:left;
	cursor: pointer;
	box-shadow: 0px 0px 5px #666;
	border:10px solid #fff;
}

section p{line-height:1.3;}

section:first-child{
	-o-transform: rotate(15deg);
	-webkit-transform:  rotate(15deg);
	-moz-transform:  rotate(15deg);
	-ms-transform:  rotate(15deg);
	transform:  rotate(15deg);
	z-index:auto;
}


section:nth-child(2){
	-o-transform: rotate(-10deg);
	-webkit-transform:  rotate(-10deg);
	-moz-transform:  rotate(-10deg);
	-ms-transform:  rotate(-10deg);
	transform:  rotate(-10deg);
	z-index:auto;
}

section:nth-child(3){
	-o-transform: rotate(-5deg);
	-webkit-transform:  rotate(-5deg);
	-moz-transform:  rotate(-5deg);
	-ms-transform:  rotate(-5deg);
	transform:  rotate(-5deg);
	z-index:auto;
}

section:nth-child(4){
	-o-transform: rotate(5deg);
	-webkit-transform:  rotate(5deg);
	-moz-transform:  rotate(5deg);
	-ms-transform:  rotate(5deg);
	transform:  rotate(5deg);
	z-index:auto;
}


section:nth-child(5){
	-o-transform: rotate(20deg);
	-webkit-transform:  rotate(20deg);
	-moz-transform:  rotate(20deg);
	-ms-transform:  rotate(20deg);
	transform:  rotate(20deg);
	z-index:auto;
}

section:nth-child(6){
	-o-transform: rotate(-10deg);
	-webkit-transform:  rotate(-10deg);
	-moz-transform:  rotate(-10deg);
	-ms-transform:  rotate(20deg);
	transform:  rotate(-10deg);
	z-index:auto;
}

section:nth-child(7){
	-o-transform: rotate(-1deg);
	-webkit-transform:  rotate(-1deg);
	-moz-transform:  rotate(-1deg);
	-ms-transform:  rotate(-1deg);
	transform:  rotate(-1deg);
	z-index:auto;
}

section:nth-child(8){
	-o-transform: rotate(3deg);
	-webkit-transform:  rotate(3deg);
	-moz-transform:  rotate(3deg);
	-ms-transform:  rotate(-1deg);
	transform:  rotate(3deg);
	z-index:auto;
}

section:nth-child(9){
	-o-transform: rotate(-2deg);
	-webkit-transform:  rotate(-2deg);
	-moz-transform:  rotate(-2deg);
	-ms-transform:  rotate(-1deg);
	transform:  rotate(-2deg);
	z-index:auto;
}

section:nth-child(10){
	-o-transform: rotate(-8deg);
	-webkit-transform:  rotate(-8deg);
	-moz-transform:  rotate(-8deg);
	-ms-transform:  rotate(-1deg);
	transform:  rotate(-8deg);
	z-index:auto;
}

section img{
	display:block;
	width: 100%;
	border:1px solid #eee;
	margin:0 0 10px 0;
}

.loaded section{
	-o-transition-property: transform;
	-o-transition-duration: 500ms;
	-o-transition-timing-function:ease-in-out;

	-webkit-transition-property: transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function:ease-in-out;

	-moz-transition-property: transform;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function:ease-in-out;

	-ms-transition-property: transform;
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function:ease-in-out;
}

.loaded section:hover{
	z-index: 9999;
	-o-transform: scale(1.10);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
}

.loaded section.leadPhoto{
	z-index: 9999;
	box-shadow: 0px 0px 10px #333;

	-o-transition-property: transform, left, top;
	-o-transition-duration: 50ms;

	-webkit-transition-property: transform, left, top;
	-webkit-transition-duration: 1s;

	-moz-transition-property: transform, left, top;
	-moz-transition-duration: 1s;

	-ms-transition-property: transform, left, top;
	-ms-transition-duration: 1s;

	-o-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	-moz-transform: scale(1.8);
	-ms-transform: scale(1.8);
}

.close{
	background: #b20;
	text-align:center;
	color: #fff;
	position:absolute;
	top:-6px;
	right:-4px;
	line-height: 1.7;
	border-radius:20px;
	opacity:0;
	font-size:.5em;
	padding: 0 2px;
}
.close:hover{background: #f60;}

.leadPhoto .close{
	-o-transition-property: opacity;
	-o-transition-duration: 500ms;
	-o-transition-timing-function: ease-in-out;
	-o-transition-delay: 500ms;

	-webkit-transition-property: opacity;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: 500ms;

	-moz-transition-property: opacity;
	-moz-transition-duration: 500ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-delay: 500ms;

	-ms-transition-property: opacity;
	-ms-transition-duration: 500ms;
	-ms-transition-timing-function: ease-in-out;
	-ms-transition-delay: 500ms;

	opacity:1;
}

#overlay{
	background-color: rgba(0,0,0,.5);
	position:absolute;
	top: 0;
	left:0;
	z-index:9997;
	top:-2000px;
	left: -2000px;
}

#overlay:hover{cursor:pointer;}

.hide{display:none;}

footer{
	display:block;
	margin:0em 2em;
	background:rgba(255,255,255,.8);
}

footer p{
	margin: 0 20px 0 20px;
	padding-bottom: 1em;
	line-height: 1.5
}
footer img{
	float:left;
	vertical-align: text-bottom;
	display:block;
	margin-right: .5em
}

/* For phones and smaller tablets */
/* @media screen and (min-width: 240px){
	body{background: #000;}
	width: 100px;
}

@media screen and (min-width: 480px){
	width: 100px;
} */

/* For iPad sized devices */
@media screen and (min-width: 768px){

	#photostack{
		margin:5em auto 0 auto;
		position:relative;
		top:-1000px;
		width: 80%;
	}

	section{width: 175px;}
	section.vert{width:126px;}

	section:first-child{ left:0; top: -30px; }
	section:nth-child(2){left:90px; top: -10px; }
	section:nth-child(3){left: 0; top: 80px;}
	section:nth-child(4){left: 100px; top: 55px;}
	section:nth-child(5){left: 150px; top: 5px; }
	section:nth-child(6){left: 200px; top: 145px;}
	section:nth-child(7){left: 300px; top: 80px;}
	section:nth-child(8){left: 390px; top: 0px;}
	section:nth-child(9){left: 400px; top: 20px;}
	section:nth-child(10){left: 450px; top: 85px;}

	.loaded section.leadPhoto{
		left: 50%;
		top: 110px;
	}
	#overlay{width:3000px; height:3000px;}
}

/* For computer sized devices */
@media screen and (min-width: 1025px){

	#photostack{
		margin:5em auto 0 auto;
		position:relative;
		top:-1000px;
		width: 80%;
	}

	section{width: 250px;}
	section.vert{width:180px;}

	section:first-child{ left:0; top: -30px; }
	section:nth-child(2){left:90px; top: -10px; }
	section:nth-child(3){left: 0; top: 80px;}
	section:nth-child(4){left: 400px; top: 55px;}
	section:nth-child(5){left: 250px; top: 5px; }
	section:nth-child(6){left: 670px; top: 145px;}
	section:nth-child(7){left: 605px; top: 80px;}
	section:nth-child(8){left: 700px; top: -30px;}
	section:nth-child(9){left: 750px; top: 30px;}
	section:nth-child(10){left: 450px; top: 105px;}

	.loaded section.leadPhoto{
		left: 50%;
		top: 110px;
	}
	#overlay{width:4000px; height:4000px;}

}