@import url(reset.css);

@font-face {
	font-family:LCD;
	src:url(../fonts/munro.eot);
	src:url(../fonts/munro.eot?iefix) format('embedded-opentype'),
		url(../fonts/munro.woff) format('woff'),
		url(../fonts/munro.ttf) format('truetype'),
		url(../fonts/munro.svg#Munro) format('svg');
	}

BODY {
	overflow:hidden;
	background:#403E3F url(../images/stripes.png);
	}

/* Cable
---------------------------------------- */
.cable {
	position:absolute;
	top:0;
	left:50%;
	z-index:-1;
	margin:-165px 0 0 -356px;
	width:41px;
	height:50%;
	background:url(../images/cable.png) 0 100% repeat-y;
	}

/* Device
---------------------------------------- */
.device {
	position:absolute;
	top:50%;
	left:50%;
	margin:-135px 0 0 -413px;
	padding:30px;
	width:766px;
	border-radius:20px;
	background:#D5CFB5 url(../images/html5.png) 55px 100% no-repeat;
	}
	.device:after {
		position:absolute;
		top:-30px;
		right:-30px;
		bottom:-30px;
		left:-30px;
		z-index:-1;
		box-shadow:0 20px 50px rgba(0, 0, 0, 0.5);
		border-radius:40px;
		border:40px solid #D5CFB5;
		border-color:#DEDAC5 #CCC4A5 #C3BA94;
		content:'';
		}

/* LCD
---------------------------------------- */
.lcd {
	float:left;
	overflow:hidden;
	margin:0 0 20px;
	padding:7px 0 0 12px;
	width:534px;
	height:36px;
	border-radius:5px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.3) inset;
	background:#8f9e7c;
	color:#333;
	white-space:nowrap;
	text-transform:uppercase;
	font:27px/32px LCD, sans-serif;
	}

/* Keyboard
---------------------------------------- */
.keyboard {
	float:left;
	width:546px;
	text-align:center;
	}
	.row {
		position:relative;
		z-index:1;
		display:inline-block;
		border:3px solid #222;
		background:#222;
		}
	.row.first {
		border-radius:12px;
		}
	.row.second,
	.row.third {
		margin-top:-6px;
		border-radius:0 0 12px 12px;
		}
		.row.second:before,
		.row.second:after,
		.row.third:before,
		.row.third:after {
			position:absolute;
			top:3px;
			width:24px;
			height:24px;
			box-shadow:0 0 0 5px #222;
			border-radius:12px;
			content:'';
			}
		.row.second:before,
		.row.third:before {
			left:-27px;
			clip:rect(auto, auto, 12px, 12px);
			}
		.row.second:after,
		.row.third:after {
			right:-27px;
			clip:rect(auto, 12px, 12px, auto);
			}
	.key {
		position:relative;
		display:inline-block;
		padding:0;
		margin:11px;
		width:32px;
		height:35px;
		border:none;
		border-radius:6px;
		background:#BFC1B3;
		color:#333;
		font:bold 13px/1 Tahoma, sans-serif;
		}
		.key:after {
			position:absolute;
			top:-8px;
			right:-8px;
			bottom:-8px;
			left:-8px;
			z-index:-1;
			border-radius:10px;
			border:10px solid #D5CFB5;
			border-color:#D7D8CF #A7AA97 #90937B;
			content:'';
			}
	.key.pressed {
		background:#8D8F84;
		}
		.key.pressed:after {
			top:-7px;
			right:-7px;
			bottom:-7px;
			left:-7px;
			border-color:#A5A69F #76786A #5F6151;
			}

/* Display
---------------------------------------- */
.display {
	position:relative;
	overflow:hidden;
	float:right;
	border-radius:10px;
	border:10px solid #222;
	}
	.display:after {
		position:absolute;
		top:-150px;
		left:100px;
		width:100%;
		height:100%;
		background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
		background-image:-moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
		background-image:-ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
		background-image:-o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
		background-image:linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
		content:'';
		-webkit-transform-origin:0 0;
		-moz-transform-origin:0 0;
		-ms-transform-origin:0 0;
		-o-transform-origin:0 0;
		transform-origin:0 0;
		-webkit-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		transform:rotate(45deg);
		}
	.video {
		display:block;
		background:#000;
		}

/* Footnote
---------------------------------------- */
.footnote {
	position:absolute;
	bottom:-60px;
	color:#989395;
	text-shadow: 0px 1px 1px #222;
	font:13px/1 Tahoma, sans-serif;
	}
	.footnote A {
		text-decoration:none;
		color:#869E68;
		}