@import "compass/css3";
// Vars
$planets: 7;
$maxspecs-per-category: 10;

$diameter: 550px;
$mobile-diameter: 300px;
$mobile-spacing: 5;
$spacing: 10;

@mixin calculate-arc-position($i, $multiplier, $showhide: null) {
  $ellipse-position: 360/ $planets * $i;
  $cos: cos($ellipse-position * pi()/180);
  $sin: sin($ellipse-position * pi()/180);
  $a: $planets/2 * $multiplier;
  $b: $multiplier;
  $x: $a*$cos;
  $y: $b*$sin;
  $scale: $planets - $i;
  @if ($showhide == hide) {
    @include transform(scale($planets*0.5) translate(unquote(-(1.5*$multiplier) + "em"), unquote(-($planets/2 * $multiplier) + "em")));
   
  } @else {
    @include transform(scale($scale * 0.1) translate(unquote(-$x + "em"), unquote($y + "em")));
  }

}  

@mixin planet-styles($multiplier: $mobile-spacing) {
  #scrollpage {
    @include transform(translate(unquote(($planets - 1)/2 * ($multiplier - 1)  + "em"), 0));
  }

  @for $i from 0 through $planets {
    #parallax.scale-#{$i} {
      @include transform(scale(($i*0.2 + 1)*0.7));
    }
    .planet:nth-child(#{$i + 1}) { 
      @include calculate-arc-position($i, $multiplier); 
      z-index: $planets - $i;
    }

   #scrollpage .planet.scalehide-#{$i} {
      // @include transform(scale($planets*0.5) translate(unquote(-(1.5*$multiplier) + "em"), unquote(-($planets/2 * $multiplier) + "em")));
      @include calculate-arc-position($i, $multiplier, hide);
    }

   #scrollpage .planet.scaleshow-#{$i} {
      // @include transform(scale($i * 0.1) translate(unquote(-($i*$multiplier) + "em"), unquote($multiplier + "em")));
      @include calculate-arc-position($i, $multiplier, show);

      &.active {
       // @include transform(scale($i * 0.1) translate(unquote(-($i*$multiplier) + "em"), unquote(-$multiplier/2 + "em")));
      }
    }
  }
}

@mixin specs-style($radius: $mobile-diameter/2 - 30 ) {
  @for $i from 0 through $maxspecs-per-category {
    .planet a.spec-#{$i} {
        $position: 360 / $maxspecs-per-category * $i;
      $cos: cos($position * (pi()/180));
      $sin: sin($position * (pi()/180));
      top: $radius + 30 + $radius * $sin;
      $leftValue: $radius + $radius * $cos;
      @if ($leftValue < $radius + 25) {
        right: 2 * $radius - $leftValue;
        padding: 0 40px 0 0;
        text-align:right;

        &::before {
          left: auto;
          right: 0;
        }
      } @else {
          left: $radius + $radius * $cos;
          padding: 0 0 0 40px;
      }
    }
  }
}
 
html { 
  background-color: #000;
  background: url('../images/bg-2.png') #000; 
  color: #fff; 
  overflow: hidden;
}
    
body { font-family: sans-serif; }

html, body { height: 100%; margin: 0; padding: 0;}

h2 { text-transform: uppercase; }
a { text-decoration: none; color: white; }

.planet a {
  display: block;
  padding: 5px 10px; 
  border-bottom: 1px solid skyblue;

  &:hover {
    color: skyblue;
  }
}

.aside a {
  display: none; 
}

@media (min-height: 300px) and (min-width: 300px) {
  #scrollpage { 
    position: absolute;
    top: 50%; left: 40%; 
    margin-top: -$mobile-diameter/2;
  }

  .aside { 
    position: absolute; 
    bottom: 0; left: 0em; right: 0em; 
    padding: 1em 0; 
    z-index: 4; 
    text-align:center;
  }            
      
  .aside a { 
    padding: 0 1em; 
    display: inline-block;
    position: relative; 
    text-transform: uppercase; 
    font-size: 0.9em; 
  }

  .aside a:hover, aside a.active { color: yellow; }

  .planet { 
    @include transform(scale(1));
    @include transform-origin(50%, 50%);
    -o-transition: -o-transform 2s linear;
    -webkit-transition: -webkit-transform 2s linear;
    -moz-transition: -moz-transform 2s linear;
    -ms-transition: -ms-transform 2s linear;
    background-size: contain; 
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    height: $mobile-diameter;

    
    &.active {
      h2, p a { opacity: 1; }    
    }

    h2, p a {
      opacity: 0; 
      @include transition(opacity 1s linear);
    }

    a {
      padding: 0;
      border: 0;
    }

    div {
      width: $mobile-diameter; 
      height: 100%;
      margin: 0 auto; 
      position: relative;
    }

    p {
      background: url(../images/planet-1.png) no-repeat center center; 
      height: 100%; 
      width: 100%; 
      border-radius: $mobile-diameter; 
      position: relative; 
    }
  }    

  @include planet-styles;
  @include specs-style;
  [data-skin="0"] p { background-image: url(../images/planet-1.png); }
  [data-skin="1"] p { background-image: url(../images/planet-2.png); }
  [data-skin="2"] p { background-image: url(../images/planet-3.png); }
  [data-skin="3"] p { background-image: url(../images/planet-4.png); }
      

  .planet h2 { 
    font-size: 2em;
    margin: 0;
    display: table;
    letter-spacing: 0.15em;
    line-height: 1em;
    text-align: center; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;

    b {
      display: table-cell;
      vertical-align: middle;
      word-wrap: break-word;
    }
  }


  .planet a { 
    position: absolute; 
    padding-left: 40px; 
    line-height: 1;
    padding: 0; 
    text-transform: uppercase; 
    margin-top: -16px;
    z-index: 3;
  }

  .planet a::before {
    content: '•';
    font-size: 80px;
    line-height: 1px;
    position: absolute;
    top: 16px;
    left: 0;
    color: black;
    text-shadow: none;
    display: block;
  }


}  

@media (min-height: 600px) and (min-width: 600px) {
  html {
    background: url('../images/bg-3.png') center center, 
                url('../images/bg-2.png') 0px 0px, 
                url('../images/bg-2.png')  -85px 65px, 
                url('../images/broken_noise.png'), #000;
  }

  #parallax{ 
    display: block;
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background: url('../images/bg-4.png') center center no-repeat; 
    @include transform(scale(0.5));
    -o-transition: -o-transform 3s linear;
    -webkit-transition: -webkit-transform 3s linear;
    -moz-transition: -moz-transfrom 3s linear;
    -ms-transition: -ms-transform 3s linear;
  }

  #scrollpage { margin-top: -$diameter/2; }

  @include planet-styles($spacing);
  @include specs-style($diameter/2 - 30); 

  
  .aside {
    @include background-image(linear-gradient(rgb(108, 199, 235), rgba(0, 0, 0, 0.5) 2%, rgba(0, 0, 0, 0.5) 98%, rgb(108, 199, 235)));
  }
  .aside::before {
    position: absolute;
    right: 0em;
    left: 0em;
    top: 0;
    height: 5px;
    content: "";
    @include background-image(linear-gradient(left, rgba(108, 199, 235, 0) 5%, rgb(108, 199, 235) 10%, rgb(108, 199, 235) 90%, rgba(108, 199, 235, 0) 95%));
  }
  .aside a:hover::after, 
  .aside a.active::after { 
    position: absolute; 
    top: -1.18em; 
    height: 5px; 
    left: 0; right: 0; 
    background: yellow; 
    content: ""; 
  }
  
  .planet {
    height: $diameter;

    div { width: $diameter; }
  
    p {
      border-radius: $diameter;  
      box-shadow: 0 0 0.5em 0.25em #5e1100;        
      background-size: 120% 120%;
    }
  
    a  { font-size: 1.5em; }

    h2 { 
      font-size: 6em; 
      font-family: 'Lato', sans-serif; letter-spacing: 0; 
    }

    h2, a { text-shadow: 1px 1px 2px #000; } 
  }
  [data-skin="0"] p { box-shadow: 0 0 0.5em 0.25em #5e1100; }
  [data-skin="1"] p { box-shadow: 0 0 0.5em 0.25em #354c7b; }
  [data-skin="2"] p { box-shadow: 0 0 0.5em 0.25em slategray; }
  [data-skin="3"] p { box-shadow: 0 0 0.5em 0.25em #47463a; }
}  
