<ifmodule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{DOCUMENT_ROOT}/$1 -f [OR]
	RewriteCond %{DOCUMENT_ROOT}/$1 -d
	RewriteRule (.*) - [S=2]
	RewriteCond %{DOCUMENT_ROOT}/demos/$1 -f [OR]
	RewriteCond %{DOCUMENT_ROOT}/demos/$1 -d
	RewriteRule (.*) /demos/$1 [L]
	RewriteRule (.*) /$1 [L]
</ifmodule>