@font-face {
	font-family: 'chunk';
	src: url('fonts/Chunkfive.eot');
	src: local('☺'), url('../fonts/Chunkfive.woff') format('woff'), url('../fonts/Chunkfive.ttf') format('truetype'), url('../fonts/Chunkfive.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	background-color: #ede1cb;
	color: #555;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

@-o-viewport {
  width: device-width;
  height: device-height;
}

#supcontainer{
	margin: 0 auto;
	padding: 10px;
	width: 600px;
	text-align: center;
	border: 1px solid #333;
	background-color: #faf7f2;
	border-radius: 3px;
}

h1{ 
	font-family: "chunk", "lucida grande", arial, sans-serif;
	font-size: 2.5em;
	margin: 0;
}

a{
	color: #555;
}

#mycanvas{
	display: none;
}

#primesquare{
	width: 50px;
	height: 50px;
	outline: 1px solid #fff;
	display: inline-block;
}

video{
	width: 510px;
	box-shadow: 0px 3px 5px #444;
}

.othercolors{
	width: 25px;
	height: 25px;
	outline: 1px solid #fff;
	display: inline-block;
	margin-top: 10px;
}


.hide{
	display: none;
}

#colors {
	margin-top: 5px;
	text-align: left;
}

#colorlist li{
	list-style: none;
	font-size: 1.4em;
	border-bottom: 1px dotted #333;
}


.button{
	display:inline-block;
			outline: none;
			cursor: pointer;
			text-align: center;
			text-decoration: none;
			padding: .5em 2em .55em;
			border-radius: 5px;
			box-shadow: 0 1px 2px rgba(0,0,0,.2);
			font-size: 0.8em;
			margin-top: 5px;
			color: #fef4e9;
			border: solid 1px #da7c0c;
			background: #f78d1d;
			background: -webkit-gradient(top,  #faa51a,  #f47a20);
			background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
			background: -ms-linear-gradient(top,  #faa51a,  #f47a20);
			background: -o-linear-gradient(top,  #faa51a,  #f47a20);
}

footer{
	margin-top: 20px;
	font-family: 'chunk';
}


/* Small phones like HTC Tatoo, Nokia E63 */
@media (min-width: 240px) {

#supcontainer{
	width: 200px;
}

video{
	width: 160px;
}

.button{
	font-size: 1.0em;	
}

}


/* Relatively larger screen phones like HTC Hero */
@media (min-width: 320px) {

#supcontainer{
	width: 260px;
}

video{
	width: 220px;
}

.button{
	font-size: 1.2em;	
}

}



/* Large screen smartphones like HTC Incredible S, Motorola Droid X, etc */
@media (min-width: 480px){

#supcontainer{
	width: 420px;
}

video{
	width: 360px;
}

.button{
	font-size: 1.4em;	
}

}

/*For everything else 800px width and larger including some phones, tablets, desktops etc*/
@media (min-width: 800px) {

#supcontainer{
	width: 600px;
}

video{
	width: 510px;
}

.button{
	font-size: 1.2em;	
}

}