@-o-viewport {
  width: device-width;
  height: device-height;
}

body{
	background-color: #333;
	color: #030303;
	font-family: 'Gudea', sans-serif;
	background-image: url('../images/squidfingers_dot_com_pattern_038.gif');
}

#top{
    text-align:center;
    border: 1px solid #eee;
    border-width: 1px 1px 0 1px;
}
#top > h1{
	font-family: 'Lobster', cursive;
	font-size: 3.2em;
	color: #630;
	text-shadow: 1px 1px 2px #fff;
	display:block; /* for older browsers where header is still an inline element by default */
    margin:0
}
h2{
    margin:0 auto;
    padding: 1em;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    width: 80%;
}

#container{
	max-width: device-width;
	margin:0;
}

video{
	width: 100%;
	border:1px solid #eee;
	-webkit-transition: -webkit-transform ease-in 0.5s;
	-moz-transition: -moz-transform ease-in 0.5s;
	-ms-transition: -ms-transform ease-in 0.5s;
	-o-transition: -o-transform ease-in 0.5s;
	transition: transform ease-in 0.5s;
	margin-bottom:5px;
}

#vidwrapper{
    width: 60%;
    margin:auto;
    padding-bottom:1em;
    text-align: center;
}

#pic_container{
	clear: both;
	color: #fff;
}

a{
	color: #fff;
}

a:visited{
	color: #fff;
}

#polaroid{
	margin-bottom: 10px;
}

.pic{
	overflow: hidden;
	background: #fff;
	padding: 5px 5px 30px 5px;
	position:relative;
	border: 1px solid #eee;
}

#top, #subcontainer{
	max-width: 800px;
	background: rgba(255,255,255,.75);
	margin:0 auto;
}

#subcontainer{
    border-radius: 0;
    border: 1px solid #eee;
    border-width: 0px 1px;
}

#shakemessage{
	margin-top: 10px;
}

#share{
	text-align: right;
	margin-top: 40px;
}

#share ul li{
	list-style-type: none;
	display: inline-block;
}

#share ul li img{
	box-shadow: 1px 1px 15px #f78e1d;
}

button{
	display:block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .2em 1.5em .25em;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
	margin-top: 5px;
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	background: -o-linear-gradient(top,  #faa51a,  #f47a20);	display: inline-block;
	background: linear-gradient(top,  #faa51a,  #f47a20);	display: inline-block;
}

.pic button{
    position: absolute;
    bottom:0;
    right:0;
    background: transparent;
    font-family: 'Gudea', sans-serif;
    font-size: .8em;
    font-weight:bold;
    color:#333;
    border:none;
    box-shadow:none;
    padding: 0 7px .5em 0;
}

#overlay{
    background:rgba(0,0,0,.6);
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    margin:0;
    z-index:1000px;
    -moz-transition: opacity 250ms linear;
 -webkit-transition: opacity 250ms linear;
     -ms-transition: opacity 250ms linear;
  -khtml-transition: opacity 250ms linear;
      -o-transition: opacity 250ms linear;
         transition: opacity 250ms linear;
}

#overlay.invisible{
    display:none;
}

#overlay.hide{
    opacity:0;
}

canvas{display:block;}

#leadPhoto{
    top:0;
    margin:auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,.8);

    position:relative;
    width:auto;

    -moz-transform: translateY(-150%);
 -webkit-transform: translateY(-150%);
     -ms-transform: translateY(-150%);
  -khtml-transform: translateY(-150%);
      -o-transform: translateY(-150%);
         transform: translateY(-150%);

   -moz-transition: -moz-transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
-webkit-transition: -webkit-transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
    -ms-transition: -ms-transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
 -khtml-transition: -khtml-transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
     -o-transition: -o-transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
        transition: transform 1s cubic-bezier(0.345, 0.680, 1.000, -0.005);
}

#leadPhoto.slidein{
   -moz-transform: translateY(5%);
-webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
 -khtml-transform: translateY(5%);
     -o-transform: translateY(5%);
        transform: translateY(5%);
}

#pic_container{
    margin:auto;
    text-align:center
}

#pictures{
    width:100%;
    margin:0;
    background:rgba(255,255,255,.75);
    float:left;
}

#pictures .pic{
    float:left;
    margin: 0em 0em .5em .5em;
    margin: 0rem 0rem .5rem .5rem;
    width:auto;
    z-index:auto;
}

#pictures .pic canvas{
    width: 10rem;
    height: 7.5rem;
    border:1px solid #ccc;
}

#pictures .pic button{
    opacity:0;
}